
.navbar-wrapper{margin-top: 20px;}
.navbar-wrapper .navbar{border-radius:4px}

main{}
main .col-md-4{
    padding-right: 0;
} 
main .col-md-8{
    padding-left: 0;
} 
main .content{}

textarea#descr {
    display: block;
    width: 100%;
    height: 134px;
    margin-bottom: 15px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    outline: 0;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}


/* Mobile */
@media (max-width: 767px) {
	.navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Desktop */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Desktop Large */
@media (min-width: 1200px) {
}
