
/* import */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700&subset=latin,latin-ext);
@import "css/grid.css";
@import "css/reset.css";

/* site */
body{font-family:Roboto, Open Sans, sans-serif, Arial, Verdana, "Trebuchet MS";font-size:15px;background:#fff}

/* header */
header{}
header .navbar{background: #1a1a1a url("img/bg_footer.png") center bottom no-repeat;height: 50px;box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.1);}

header .navbar .col-md-12{}
header .navbar .col-md-12 .left{float: left;}
header .navbar .col-md-12 .left .logo{float: left;line-height: 49px;}
header .navbar .col-md-12 .left .logo a{color: #fff;font-size: 18px;}
header .navbar .col-md-12 .left .search{
    height: 50px;
    margin-left: 41px;
    float: left;
}
header .navbar .col-md-12 .left .search input#search{position: absolute;margin-top: 11px;height: 28px;width: 273px;background: rgb(58, 58, 58);color: #fff;font-size: 13px;padding: 1px 8px;padding-right: 38px;}
header .navbar .col-md-12 .left .search .material-icons.search{position: absolute;color: #656565;margin-top: 13px;float: left;margin-left: 243px;}
header .navbar .col-md-12 .right{float: right;}



/* content */
main.content{margin-top: 10px;margin-bottom: 10px;}
main.content .s-menu{background: #007ee7;height: 40px;width: 100%;padding: 10px 3%;border-radius: 2px;box-shadow: 0 2px 5px -1px rgba(0,0,0,0.15);}
main.content #post-list{float: left;width: 100%;margin-top: 5px;}
main.content #post-list .post{width: 100%;height: 80px;box-shadow: 0 2px 5px -1px rgba(0,0,0,0.15);margin-bottom: 5px;}
main.content #post-list .left{float: left;width: 30%;}
main.content #post-list .left .post-img{background: url('https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-57003.jpg');height: 80px;width: 100%;background-size: cover;border-top-left-radius: 2px;border-bottom-left-radius: 2px;}
main.content #post-list .right{float: right;width: 68%;}
main.content #post-list .right .post-n a{font-size: 15px;font-weight: bold;line-height: 22px;margin-top: 13px;color: #404040;}
main.content #post-list .right .post-n a:hover{color: #007ee7}
main.content #post-list .right .post-d{font-size: 12px;font-weight: normal;color: #999;}

/* center */
main.content #post-list-center{}
main.content #post-list-center .post{margin-bottom: 5px;}
main.content #post-list-center .post .top{}
main.content #post-list-center .post .top .post-img{background: url('https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-317129.jpg');height: 90px;width: 100%;border-top-left-radius: 2px;border-top-right-radius: 2px;background-size: cover;box-shadow: 0 2px 5px -1px rgba(0,0,0,0.15);}
main.content #post-list-center .post .bottom{box-shadow: 2px 2px 5px -1px rgba(0,0,0,0.15)}
main.content #post-list-center .post .bottom .post-n a{font-size: 13px;font-weight: bold;padding: 0 8px;line-height: 22px;margin-top: 2px;color: #404040;}

/* sidebar */
main.content .ht-post-sidebar{}
main.content .ht-post-sidebar .list{box-shadow: 0 2px 5px -1px rgba(0,0,0,0.15);}
main.content .ht-post-sidebar .list ul{}
main.content .ht-post-sidebar .list ul li{float: left;line-height: 27px;box-shadow: 0 2px 5px -1px rgba(0,0,0,0.15);}
main.content .ht-post-sidebar .list ul li a{float: left;width: 100%;font-size: 13px;font-weight: bold;color: #6b6b6b;}
main.content .ht-post-sidebar .list ul li a:hover{color: #007ee7}

main.content-post{margin-top: 15px;}
main.content-post .col-md-8.post{}
main.content-post .col-md-8.post .post-bx-c{
    border-bottom: 2px solid #565d63;
}
main.content-post .col-md-8.post .post-title{
    height: 25px;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
main.content-post .col-md-8.post .post-bx{padding: 10px 10px;border: 1px solid #e9e9e9;}
main.content-post .col-md-8.post .post-bx .post-m{font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 14px;color: #666;word-wrap: break-word;word-break: break-word;}
main.content-post .col-md-8.post .post-bx .post-m .post-img{
    max-width: 100%;
    margin-bottom: 10px;
}
main.content-post .col-md-4.sidebar{}
main.content-post .col-md-4.sidebar .sidebar-bx{border: 1px solid #e9e9e9;height: 150px;}



/* footer */
footer{height: 72px;margin-top: 10px;}
footer .top{border-bottom: 1px solid #e9e9e9;}
footer .top .left{float:left}
footer .top .right{float:right}
footer .bottom{}
footer .bottom .left{float:left}
footer .bottom .right{float:right}
footer .bottom .right .social{margin-top: 7px;}
footer .bottom .right .social .facebook{border-radius: 30px;height: 27px;width: 27px;}
footer .bottom .right .social .twitter{border-radius: 30px;height: 27px;width: 27px;}

/* Mobile */
@media (max-width: 767px) {
    main.content .col-md-3.center{display: none}
    main.content .col-md-3.sidebar{display: none}
    header .navbar .left{float: none !important;}
    header .navbar .left .logo{float: none !important;line-height: 50px;padding: 0;text-align: center;}
    header .navbar .left .logo a{color: #fff;font-size: 18px;}	
	header .navbar .col-md-12 .left .search{display: none}
	footer .bottom .right{display: none}
	main.content-post .col-md-4.sidebar{display: none}
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
    main.content .col-md-3.sidebar{display: none}
    main.content .col-md-6.post{float: left;width: 70%;}
    main.content .col-md-3.center{float: right;width: 30%;}
    header .navbar .left{float: none}
    header .navbar .left .logo{float: none;line-height: 50px;padding: 0;text-align: center;}
    header .navbar .left .logo a{color: #fff;font-size: 18px;}	
	main.content-post .col-md-4.sidebar{display: none}
}

/* Desktop */
@media (min-width: 992px) and (max-width: 1199px) {
    .col-md-3{padding-left: 8px;padding-right: 8px;}
}

/* Desktop Large */
@media (min-width: 1200px) {
}
