/* Header */
nav.navbar.navbar-light.bg-faded.header{margin-bottom: 20px;}
a.logo-title:hover{color: #fff;text-decoration: initial;}
a.logo-title:focus{color: #fff;text-decoration: initial;}
p.logo-title-p{text-align: center;line-height: 50px;}
.navbar-s{position: relative;width: 100%;height: 50px;background: #212121;}
a.logo-title{color: #fff;font-size: 21px;text-align: center;text-decoration: initial;}


/* Header Tab */
.header-tab {    margin-bottom: 20px;    display: -webkit-flex;    display: -ms-flexbox;    display: flex;    -webkit-flex-direction: row;    -ms-flex-direction: row;    flex-direction: row;    -webkit-justify-content: center;    -ms-flex-pack: center;    justify-content: center;    -webkit-align-content: space-between;    -ms-flex-line-pack: justify;    align-content: space-between;    -webkit-align-items: flex-start;    -ms-flex-align: start;    align-items: flex-start;    height: 48px;    padding: 0;    margin: 0;    border-bottom: 1px solid #e0e0e0;    margin-bottom: 20px;}
a.mdl-header-tab.is-active {    color: rgba(0,0,0,.87);    display: block;    border-bottom: 1px solid rgb(63,81,181);}
a.mdl-header-tab {    margin: 0;    border: none;    padding: 0 24px;    float: left;    position: relative;    display: block;    text-decoration: none;    height: 48px;line-height: 48px;text-align: center;font-weight: 500;font-size: 14px;text-transform: uppercase;color: rgba(0,0,0,.54);overflow: hidden;}

/* Ä°con */
i.material-icons.home{line-height: 45px;}
i.material-icons.explore{line-height: 45px;}
i.material-icons.account_box{line-height: 45px;}
i.material-icons.reorder{line-height: 45px;}
i.material-icons.perm_identity{line-height: 45px;}
i.material-icons.queue{line-height: 45px;}

/* Login / Register */
button.btn.btn-primary.kayit{width: 100%;margin-bottom: 15px;}
button.btn.btn-primary.kayit a{color: #fff;}
button.btn.btn-success.giris {  width: 100%;}
button.btn.btn-success.giris a{  color: #fff;  }

/* Home-Left */
img.media-object.avatar-lft {    width: 45px;    height: 45px;    border-radius: 37px;}
h4.media-heading.user-name-bx {    font-size: 14px;    font-weight: bold;    margin-top: 5px !important;}
h4.media-heading.user-name-bx span{    color: #B6B6B6;    font-size: 11px;    margin-left: 5px;}
p.user-post-content {    font-size: 12px;    margin-bottom: 6px !important;}
button.btn.btn-primary-outline.btn-sm.fw {    padding: 1px 9px !important;       font-size: 11px !important;}

/* Home */
.col-md-3.left {padding-right: 0 !important;}
.col-md-3.right {padding-left: 0 !important;}
.media.user {  border-bottom: 1px solid #EFEFEF;  margin-top: 5px !important;  padding-left: 8px;  padding-right: 8px;}
.user-bx { height: 250px; background-color: #fff;   border: 1px solid;   border-color: #e5e6e9 #dfe0e4 #d0d1d5; border-radius: 3px;        }
.content-bx{}
.container.home {}
.other-bx{float: right;background-color: #fff;border: 1px solid;border-color: #e5e6e9 #dfe0e4 #d0d1d5;}
textarea.post-textarea {    width: 100%;    padding-right: .9375rem;    height: 54px;    padding-left: .9375rem;              background-color: #fff;    border: 1px solid;   border-color: #e5e6e9 #dfe0e4 #d0d1d5;    box-sizing: border-box;          font-size: 14px;      line-height: 18px;   outline: 0;   padding: 13px 12px;       resize: none;   word-wrap: break-word;    border-radius: 3px;}
.post-wh{    padding-right: 8px;    padding-left: 8px;    padding-bottom: 8px;    padding-top: 8px;    margin-bottom: 8px;    background-color: #fff;   font-family: helvetica, arial, 'lucida grande', sans-serif;   font-size: 12px;   border: 1px solid;   border-color: #e5e6e9 #dfe0e4 #d0d1d5;       border-radius: 3px;    -webkit-border-radius: 3px;}
button.btn.btn-primary-outline.btn-sm.paylas {    margin-bottom: 15px;}
i#edit {    cursor: pointer;}
.post-tp-right {    float: right;}
.post-tp-left {    float: left;}
.post-content {    font-size: 13px;    word-wrap: break-word;    padding-left: 6px;    padding-right: 6px;    border-top: 1px solid #e5e6e9;    padding-top: 7px;}
.post-tp {    margin-bottom: 55px;}
.user-avatar {    float: left;    background: url('http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-59074.jpg');    height: 50px;    width: 50px;    background-size: cover;    border: 1px solid #E8E8E8;    border-radius: 43px;}
p.post-content-p {    margin-bottom: 0 !important;    font: inherit;    font-family: helvetica, arial, sans-serif;    font-size: 13px;}
.user-name {    float: left;    position: absolute;    margin-left: 62px;    margin-top: 5px;    font-size: 13px;    font-weight: 600;}
.time-ago {    float: left;   position: absolute;   margin-left: 62px;       margin-top: 24px;    font-size: 12px;    color: #9B9B9B;}

/* Home-Right */
.home-cover {background: url('http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-290866.jpg');height: 120px;background-size: cover;border-top-left-radius: 3px;border-top-right-radius: 3px;}
.home-user-avatar {background: url('http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-59074.jpg');height: 70px;width: 70px;margin: 0 auto;position: inherit;background-size: cover;border-radius: 50px;border: 2px solid #fff;}
.r-user-name {margin-top: 8px;text-align: center;font-size: 13px;font-weight: 600;padding-left: 5px;padding-right: 5px;display: flex;justify-content: center;flex-direction: column;}
.r-user-content {float: left;text-align: center;font-size: 12px;padding-left: 5px;padding-right: 5px;padding-bottom: 5px;}

/* Profil */
.profil-cover {    background: url('http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-319979.jpg');    height: 160px;    background-size: cover;    border-radius: 3px;    margin-bottom: 20px;}


/* Phone */
@media (max-width: 33.9em) {  
  .user-bx{display: none;}
  .other-bx{display: none;} 
  .media.cover-user{padding-right: 0.9375rem;padding-left: 0.9375rem;}
  button.btn.btn-primary-outline.btn-sm.paylas{width: 100%;}
  img.media-object.avatar{border: 1px solid #ECECEC;height: 50px;width: 50px;}
  .container.profil {    padding-right: 0;     padding-left: 0;}
  .row.mbl {    margin-bottom: 25px;}
  .col-md-6 {padding-right: 0.9375rem !important;padding-left: 0.9375rem !important;}  
}
/* Small Phone */
@media (max-width: 47.9em) { 
  .user-bx{display: none;}
  .other-bx{display: none;} 
  .media.cover-user{padding-right: 0.9375rem;padding-left: 0.9375rem;}  
  .col-md-6 {padding-right: 0.9375rem;padding-left: 0.9375rem;}  
}
/* Tablet */
@media (max-width: 61.9em) {   }
