
/* import */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700&subset=latin,latin-ext);
@import "css/grid.css";
@import "css/reset.css";


/* site */
body{font-family:Roboto, Open Sans, sans-serif, Arial, Verdana, "Trebuchet MS";font-size:15px;background:#fff}

/* header */
header{}
header .content{height: 75px;}
header .content .logo{}
header .content .logo img{height: 32px;margin-top: 22px;margin-left: 20px;}
header .content .logo a span{
    font-size: 11px;
    float: right;
    color: #c7c7c7;
    margin-top: -39px;
    margin-right: -61px;
}
header .content .search{float: left;margin-top: 17px;height: 39px;margin-left: 60px;}
header .content .search form{}
header .content .search form .material-icons.search2{position: absolute;color: #B6BAC5;margin-top: 9px;height: 30px;float: left;margin-left: 11px;}
header .content .search form #s{position: absolute;height: 40px;width: 370px;border: 2px solid #DBDDE2;color: #22262B;border-radius: 3px;font-weight: 500;font-size: 15px;padding: 1px 8px;padding-left: 38px;}

/* home-tab */
.tab{height: 50px;background: #22262B;}
.tab .col-md-3{background: #16191D;}
.tab .left{float: left;margin-left: 57px;}
.tab .left .s1{float: left;line-height: 50px;color: #5F646B;font-weight: bolder;}
.tab .left .material-icons.list{float: left;color: #5F646B;text-align: center;line-height: 50px;}
.tab .s2{float: left;line-height: 50px;color: #fff;font-weight: bolder;}

/* home-content */
main#home{}
main#home .col-md-3{height: 350px;}
main#home .menu{float: left;margin-top: 25px;margin-left: 0;}
main#home .menu nav{}
main#home .menu nav ul{display: inherit;}
main#home .menu nav ul li{line-height: 45px;width: 200px;}
main#home .menu nav ul li:hover{color:#fff;background: #FFD131;border-radius: 3px;}
main#home .menu nav ul li:active{color:#fff;background: #FFD131;border-radius: 3px;}
main#home .menu nav ul li a{color: #22262B;font-size: 14px;font-weight: 500;line-height: 29px;margin-left: 5px;}
main#home .menu .material-icons.icon{float: left;font-size: 28px;line-height: 45px;color: #9198A7;margin-left: 38px;}

main#home .col-md-9{border-left: 2px solid #E7EAEF;}
main#home .content{float: left;}
main#home .content aside{}
main#home .content aside #post{width: 193px;float: left;overflow: hidden;margin-bottom: 20px;margin: 25px 20px 12px 11px;}
main#home .content aside #post .rs{}
main#home .content aside #post .rs img{background: url('http://i.hizliresim.com/kv51lW.jpg');height: 286px;width: 192px;background-size: cover;background-position: center;display: block;}
main#home .content aside #post .title{font-size: 15px;margin-top: 10px;word-wrap: break-word;color: #22262B;font-weight: 500;width: 100%;word-break: break-word;margin-bottom: 10px;}
main#home .content aside #post .title a{color: #22262B;}
main#home .content aside #post .title a:hover{color: #ffd131;}

/* single-tab */
.tab-s{height: 50px;background: #22262B;}
.tab-s .col-md-12{}
.tab-s .col-md-12 .s3{float: left;line-height: 50px;color: #fff;font-weight: bolder;background: #16191D;padding: 0 27px;}

/* single */
main#single{margin-top: 25px}
main#single .col-md-12{}
main#single .col-md-12 .video-player iframe{width:100% !important}
main#single .col-md-12 .video-description{margin-top: 20px;word-break: break-word;font-size: 15px;}
main#single .col-md-12 .video-comment{margin-top: 20px;}


/* footer */
footer{}

/* Mobile */
@media (max-width: 767px) {
.tab .col-md-3{display:none}
main#home .col-md-3{display:none}
main#home .col-md-9{border-left: 0;}
main#home .content aside #post{float: none; width: 100%;margin: 0;}
main#home .content aside #post .img{width: 100%;height: 150px;}
main#home .content{width: 100%;margin-top: 25px;}
main#home .content aside #post .title{margin-bottom: 20px;}
header .content .col-md-2{float: left;width: 30%;padding-left: 0px;}
header .content .col-md-10{float: right;width: 70%;}
header .content .logo img{height: 20px;margin-top: 26px}
header .content .search form #s{width:160px}
header .content .search{float:right;width:160px}
main#single .col-md-12 .video-player iframe{height:100%}
main#single .col-md-12 .video-description{font-size:14px}
main#home .content aside #post .rs img{width: 100%;height: 150px;}
	
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
.tab .col-md-3{float: left;width: 30%;}
.tab .col-md-9{float: right;width: 70%;}
main#home .col-md-3{float: left;width: 30%;}
main#home .col-md-9{float: right;width: 70%;}
main#home .menu .material-icons.icon{ margin-left: 18px;}
main#home .menu nav ul li{width: 100%;padding-right: 18px;}
main#home .menu nav{margin-left:9px}
main#home .content aside #post .img{width: 100%;height: 150px;}
main#home .content aside #post{float: none;width: 100%;margin: 0;}	
main#home .content{margin-top: 25px;float: none;margin-left: 13px;}
main#home .content aside #post .title{margin-bottom: 20px;}
header .content .col-md-2{float: left;width: 30%;}
header .content .col-md-10{float: right;width: 70%;}		
main#home .content aside #post .rs img{width: 100%;height: 150px;}
	
}

/* Desktop */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Desktop Large */
@media (min-width: 1200px) {
}
