/* 
Netdeyim
v.0.1
 */ 

article, aside, footer, header, main, nav , section {  display: block;}
html, body, h1, h2, h3, ul, li, a, p, article, aside, footer, header, main, nav , section, menu {  padding: 0;  margin: 0;}

body{background:#EDEDED;font-family: "Lucida Grande",Arial,sans-serif;margin: 0 auto;} 

/* Header */
header{height: 125px;}
#h_ust{background:#212121; height:30px;}
#h_ust_icerik{margin:0 auto; width:960px;}
.h_ust_sol{float:left;}
.h_ust_sag{float:right;}
.h_ust_sol .h_ust_menu{}
.h_ust_sol .h_ust_menu ul{display: inline-flex;}
.h_ust_sol .h_ust_menu ul li{list-style-type:none;padding: 6px 7px;}
.h_ust_sol .h_ust_menu ul li a{text-decoration:initial;color: #FFF;font-size: 14px;font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;}
.h_ust_sol .h_ust_menu ul li a:hover{color:rgba(228, 228, 228, 1);}

#h_alt{background:#44619D;height:91px; border-bottom:4px solid #56A8F1;}
.h_alt_sol{float:left;}
.h_alt_sag{float:right;height: 91px;width: 731px;}

.h_alt_sag .h_alt_menu{float: right; margin-right: 120px;margin-top: 30px;}
.h_alt_sag .h_alt_menu ul{display: inline-flex;}
.h_alt_sag .h_alt_menu ul li{list-style-type:none;padding: 6px 7px;}
.h_alt_sag .h_alt_menu ul li a{text-decoration:initial;color: #FFF;font-size: 19px;font-family: "Agency FB", verdana, helvetica, sans-serif;text-transform: uppercase;font-weight: bold;        font-style:normal;}
.h_alt_sag .h_alt_menu ul li a:hover{}
#h_alt_icerik{margin:0 auto; width:960px;}
p.brdyz{float: right;margin-right: 21px;color:#726E6D;margin-top: 4px;height: 23px;width: 77px;font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;}

/* Sosyal */
.sosyal { float: right;}
img.facebook{float: right;margin-top: 4px;}
img.twitter{float: right;margin-top: 6px;}
img.youtube{float: right;margin-top: 3px;}

/* Font */
@font-face {font-family: 'CenturyGothic'; src:url(../font/century-gothic.otf);}
@font-face {font-family: 'Agency FB'; src:url(../font/agency-fb.otf);}

/* Reklam */
#reklam{text-align:center;margin-top: 15px;margin-bottom: 15px;}

/* Menu */
a.teknoloji{float: left;margin-right: 10px;}
a.mobil{float: left;margin-right: 10px;}
a.bilgisayar{float: left;margin-right: 10px;}
a.webmaster{float: left;margin-right: 10px;}
a.video{float: left;}
img.teknoloji{float: left;height: 23px;width: 23px;margin-top: 4px;}
img.mobil{float: left;height: 20px;width: 11px;margin-top: 5px;}
img.bilgisayar{float: left; height: 21px; width: 18px;margin-top: 5px;}
img.webmaster{float: left;height: 25px;width: 23px;margin-top: 3px;}
img.video{float: left;height: 21px;width: 28px;margin-top: 4px;}

/* Logo */
#logo{}
img.logo{float: left;margin-left: 0px;margin-top: 17px;}


/* Anasayfa */
#anasayfa{margin:0 auto; width:960px;}
#container{height: 442px;}
#bx1{margin-top: 0px;height: 246px;}
.bx1_sol{float:left;}
p.bx1_bslik1{    margin-top: 246px;    float: left;    position: absolute;    background-color: #465F9F;    color: #FFF;    height: 48px;    font-weight: bold;    font-size: 22px;   text-align: center;    width: 437px;    line-height: 51px;    font-family: "Agency FB", verdana, helvetica, sans-serif;    text-transform: uppercase;    font-style: normal;}
img.bx1_resim1{    float: left;}
.bx1_sag{float:right;}
img.bx1_resim2{    float: right;}
p.bx1_bslik2{    margin-top: 246px;    float: right;    position: absolute;    background-color: #465F9F;    color: #FFF;    height: 48px;    font-weight: bold;    font-size: 22px;    text-align: center;    width: 437px;    line-height: 51px;    font-family: "Agency FB", verdana, helvetica, sans-serif;    text-transform: uppercase;    font-style: normal;}
#bx2{    float: left;    margin-top: 62px;    height: 132px;    margin-bottom: 0px;}
img.bx2_resim2 {    float: left;    margin-right: 26px;}
img.bx2_resim3 {    float: left;   }
p.bx2_bslik2 {    margin-top: 0px;      float: left;        background-color: #465F9F;      color: #FFF;          margin-right: 26px;    height: 37px;      font-weight: bold;          font-size: 17px;      text-align: center;          width: 171px;          line-height: 43px;      font-family: "Agency FB", verdana, helvetica, sans-serif;      text-transform: uppercase;      font-style: normal;}
p.bx2_bslik3 {    margin-top: 0px;      float: left;        background-color: #465F9F;      color: #FFF;          height: 37px;      font-weight: bold;          font-size: 17px;      text-align: center;          width: 171px;          line-height: 43px;      font-family: "Agency FB", verdana, helvetica, sans-serif;      text-transform: uppercase;      font-style: normal;}


/* Yazilar */
#yazi{   height: 127px;   z-index: 555;}
img.yazi{    float: left;    z-index: 55;    position: absolute;    margin-top: 7px;    margin-left: 7px;}
#yazi_baslik{    float: left;    margin-left: 188px;    color: #465F9F;    position: absolute;    z-index: 5555;    font-weight: bold;    margin-top: 3px;    font-size: 23px;    font-family: "Agency FB", verdana, helvetica, sans-serif;    text-transform: uppercase;}
p.yazi_icerik{    float: left;    position: absolute;    margin-top: 31px;    margin-left: 187px;    font-size: 13.9px;    height: 52px;    color: #3D3D3D;    width: 430px;}
p.p_yazi_icerik{    float: left;    position: absolute;    margin-top: 26px;    margin-left: 123px;    font-size: 13px;    height: 48px;    color: #3D3D3D;    width: 186px;}
.p_yazi_icerik_ust{}
.p_yazi_icerik_alt{ float: left;    position: absolute;    margin-top: 74px;    margin-left: 122px;}
.yazi_icerik_ust{}
.yazi_icerik_alt{    float: left;    position: absolute;    margin-top: 87px;    margin-left: 187px;}

/* P / İmg / Hr / H */
p.yazi_avatar{    float: left;    color: #3D3D3D;    font-size: 14px;    margin-right: 25px;}
p.yazi_zaman{    float: left;    color: #3D3D3D;    font-size: 14px;    margin-right: 25px;}
p.p_yazi_zaman{    float: left;    color: #868686;    font-size: 14px;    margin-right: 0px;}
p.yazi_yorum{    float: left;    color: #3D3D3D;    font-size: 14px;}
img.zaman_icon{    float: left;    margin-right: 5px;}
img.p_zaman_icon{    float: left;    margin-right: 2px;}
img.avatar_icon{float: left;    margin-right: 5px;}
img.yorum_icon{float: left;    margin-right: 5px;}
img.s_konu_ust_resim{    height: 361px;}
img.p_kck_resim{    float: left;    width: 109px;    height: 82px;    position: absolute;    margin-top: 6px;    margin-left: 6px;}
img.s_icerik_reklam{
    float: left;
    margin-right: 22px;
    margin-bottom: 22px;
}
img.a_reklam{}

#yazi_arka{    background: url('../img/bcg/yazi_arka.png');    height: 111px;    width: 633px;    position: absolute;}
#p_yazi_arka{background: url('../img/bcg/p_yazi_arka.png');    height: 330px;    width: 299px;    position: absolute;}

#yazi_icerik{    margin-top: 40px;    height: 460px;}
.yazi_icerik_sol{    float: left;    height: 460px;    width: 643px;}
.yazi_icerik_sag{    float: right;    height: 460px;    width: 287px;}


#s_yazi_icerik{    margin-top: 40px;    height:803px;}
.s_yazi_icerik_sol{    float: left;    height: 982px;    width: 643px;}
.s_yazi_icerik_sag{    float: right;    height: 982px;    width: 287px;}

#p_yazi{ height: 111px;}
#s_yazi_paylas{    display: inline-flex;    margin-top: 10px;}
p.facebook_p{    background-color: #3A5795;    padding: 8px 17px;    color: #fff;    margin-right: 2px;    border-radius: 3px 0px 0px 3px;}
a.facebook_p{text-decoration: initial;}
p.twitter_p{    background-color: #0084B4;    padding: 8px 17px;    color: #fff;    margin-right: 2px;}
a.twitter_p{text-decoration: initial;}
p.google_p{    background-color: #D73D32;    padding: 8px 17px;    color: #fff;    border-radius: 0px 3px 3px 0px;}
a.google_p{text-decoration: initial;}

#p_yazi_baslik{    float: left;        margin-left: 124px;    color: #454545;     margin-top: 5px;    position: absolute;    font-size: 17px;    font-family: "Agency FB", verdana, helvetica, sans-serif;    text-transform: uppercase;}
.p_konular_b{    float: right;    height: 41px;    width: 287px;    margin-top: 28px;    font-size: 21px;    background-color: #45609D;    color: #fff;    line-height: 42px;    text-align: center;    text-transform: uppercase;    font-family: "Agency FB", verdana, helvetica, sans-serif;    font-style: normal;    margin-bottom: 15px;}
.yazi_icerik_devam{ float: left; margin-left: 565px; margin-top: 3px;}
a.yazi_i_dvm{    float: left;    color: #4361A1;    margin-top: 82px;    font-family: "Agency FB", verdana, helvetica, sans-serif;    font-size: 18px;    text-decoration: inherit;    text-transform: uppercase;    font-weight: 100;    position: absolute;    margin-left: 1;}



/* Son Yazilar */
#sonyazilarbaslik{    height: 50px;}
h2.son_yazilar{    float: left;    margin-top: 0px;    color: #fff;    background-color: #4361A1;    padding: 3px 9px;    font-size: 27px;    width: 128px;    font-family: "Agency FB", verdana, helvetica, sans-serif;    text-transform: uppercase;}
#sn_yz_hr{    border-bottom: 2px solid #515C92;    width: 634px;}




/* Single */
#single{margin:0 auto; width:960px;}
#s_container{height: 0px;}
.s_p_konular_b{    float: right;    height: 41px;    width: 287px;    margin-top: 30px;    font-size: 21px;    background-color: #45609D;    color: #fff;    line-height: 42px;    text-align: center;    text-transform: uppercase;    font-family: "Agency FB", verdana, helvetica, sans-serif;    font-style: normal;    margin-bottom: 15px;}
h2.s_konu_basligi{ float: left;    margin-top: 0px;    color: #212121;    font-size: 27px;    font-family: "Agency FB", verdana, helvetica, sans-serif;    text-transform: uppercase;}
.s_konu_ust_resim{}
#s_yazi_icerik_reklam{    float: left;  }
#s_konu_ust_yazi{    margin-top: 10px;}
p.s_konu_ust_yazi{    font-size: 14px;}
#s_yazi_etiket{    float: left;    margin-top: 15px;    margin-right: 7px;    font-size: 19px;    color: #474747;    text-transform: uppercase;    font-family: "Agency FB", verdana, helvetica, sans-serif;}
.s_yazi_etiketler{    display: inline-flex;    float: left;    margin-top: 14px;}
p.s_yazi_etiket1{    margin-right: 3px;    margin-left: 3px;    background-color: #45619D;    color: #FFF;    padding: 2px 7px;    border-radius: 3px;}


/* Footer */
footer{margin:0 auto;}
#footer{background:#444444; height:150px;}
#f_icerik{margin:0 auto; width:960px;}
.f_icerik_sol{}
.f_icerik_sol .f_menu{float: left; margin-top: 16px;}
.f_icerik_sol .f_menu ul{display: inline-flex;}
.f_icerik_sol .f_menu ul li{list-style-type:none;padding: 0px 11px;}
.f_icerik_sol .f_menu ul li a{text-decoration:initial;color: #fff;font-size: 14px;}
.f_icerik_sol .f_menu ul li a:hover{}
.f_icerik_sag{}

#f_logo{background: url(../img/netdeyimlogo.png);height: 59px;width: 209px;margin-top: 22px;float: left;}
p.cop{    float: left;    margin-top: 93px;    color: #fff;    font-size: 13px;    margin-left: 11px;    position: absolute;}

/* Diger */
.temizle{ clear: both;}