
/* import */
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,300,500,700,900&subset=latin,latin-ext);
@import "css/grid.css";
@import "css/reset.css";

/* site */
body{font-family:Roboto, Open Sans, sans-serif, Arial, Verdana, "Trebuchet MS";font-size:15px;background:#fff}

/* header */
header{}
header .navbar{background: #222;height: 50px; box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);}
header .navbar .logo{text-align: center;color: #fff;line-height: 50px;font-size: 21px;text-transform: uppercase;}

/* content */
main.home{margin-top:15px}
main.home .mainleft{}
main.home .mainleft h1{background: #222;color: #fff;text-align: center;padding: 10px 0;box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);}
main.home .mainleft ul{border-left: 2px solid #222;border-right: 2px solid #222;text-align: center;}
main.home .mainleft ul li:hover{background:#f5f5f5;}
main.home .mainleft ul li{padding: 9px 8px;border-bottom: 1px solid #f1f1f1;}
main.home .mainleft ul li a{color: #000;width: 100%;text-align: center;}
main.home .col-md-3.left{margin-bottom: 10px;}
main.home .maincenter{height: 210px;}
main.home .maincenter h1{background: #222;color: #fff;text-align: center;padding: 10px 0;box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);}

main.home .mainright{}
main.home .mainright h1{background: #222;color: #fff;text-align: center;padding: 10px 0;box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);}
main.home .mainright ul{border-left: 2px solid #222;border-right: 2px solid #222;text-align: center;}
main.home .mainright ul li:hover{background:#f5f5f5;}
main.home .mainright ul li{padding: 9px 8px;border-bottom: 1px solid #f1f1f1;}
main.home .mainright ul li a{color: #000;width: 100%;text-align: center;}

#box{ background: #fff;border: 1px solid;border-color: #e5e6e9 #dfe0e4 #d0d1d5;border-radius: 3px;}


/* footer */


/* Mobile */
@media (max-width: 767px) {
main.home .col-md-3.left{width: 50%;float: left;}
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
main.home .col-md-3.left{width: 33%;float: left;}
}

/* Desktop */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Desktop Large */
@media (min-width: 1200px) {
}
