/* 
Dostu
v0.1
 */ 
 
article, aside, footer, header, main, nav , section {  display: block;}
html, body, h1, h2, h3, ul, li, a, p, article, aside, footer, header, main, nav , section, menu {  padding: 0;  margin: 0;}
body{margin:0 auto; background:#324660;}

/*Header */
header{}
.h_icerik{margin:0 auto; width:960px;}
img.b_logo{text-align:center;margin-top: 50px;border-bottom: 1px solid #657488;padding: 11px 363px;}

/* Font */
@font-face {font-family: 'Dostu';   src:url(../font/dostu.otf);}

/* Anasayfa */
#iconlar{margin:0 auto; width:836px;margin-top: 120px;}
img.i_yvrlk{margin-right: 39px;float: left;}
img.s_yvrlk{float: left;margin-left: -195px;margin-top: 50px;}
img.t_yvrlk{float: left;margin-left: -195px;margin-top: 50px;}
img.p_yvrlk{float: left;margin-left: -195px;margin-top: 50px;}
img.c_yvrlk{float: left;margin-left: -195px;margin-top: 50px;}

/* Fooer */
footer{}
#footer{}
#f_icerik{margin:0 auto; width:960px;}
.f_i_sol{float:left;}
.f_i_sag{float:right;height: 55px;width: 267px;}

/* Sosyal */
#sosyal{display: block;height: 44px; bottom: 15px; position: absolute;width: 664px;}
img.facebook{float:left;}
p.facebook{float:left; margin-top: 9px;font-size: 26px;margin-left: 6px;color: #fff;font-family: Dostu;margin-right: 35px;}
img.mail{float:left;margin-top: 16px;margin-right: 12px;}
p.mail{float:left; margin-top: 12px;font-size: 24px;margin-left: 0px;display: flex;color: #fff;font-family: Dostu;margin-right: 3px;}
img.skype{float:left;margin-left: 32px;}
p.skype{float:left; margin-top: 12px;font-size: 24px;margin-left: 6px;color: #fff;font-family: Dostu;}
#cop{float:left;bottom: 15px; position: absolute;font-size: 24px;color: #fff;font-family: Dostu;margin-right:5px;}
img.medya{float:right;margin-top:0px;margin-left: 13px;}

/* Diger */
.temizle{clear:both;}