/* header */
header .navbar.navbar-inverse.bg-inverse.navbar-toggleable-md{margin-top: 30px;background-image: url('http://www.fullfilmizle.info/wp-content/themes/ffizlev2.4.3/assets/img/bg_navbar.png');}
header .navbar-inverse .navbar-nav .nav-link{font-size: 95%;}
header .form-inline .form-control{font-size: 15px;}
header .form-control:focus{border-color: transparent;}
header .navbar-bottom{border-bottom: 1px solid #e2e2e2;line-height: 32px;background-image: linear-gradient(#fcfcfc, rgba(238, 238, 238, 0.52));}
.navbar-bottom p{font-size: 84%;margin-bottom: 0;}

/* home */
main .card-img-top.sldr-img{height: 80px;width: 100%;border-bottom-left-radius: calc(.25rem - 1px);border-bottom-right-radius: calc(.25rem - 1px);background-color: rgba(255, 255, 255, 0.21);border: 1px solid;}
main .card-block{padding: 7px 7px;}
main .card-img-top.card-post{height: 200px;}
main .card-img-top.card-post-2{height: 100px;}
main .card-block .card-text{text-align: center;color: rgba(0, 0, 0, 0.75);font-size: 82%;}
main .card.card-post-b{margin-bottom: 1em;}
main .carousel-item{max-height: 150px;}
main .carousel-caption.d-none.d-md-block p{text-shadow: 2px 1px 1px #000;font-size: 20px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
main .s300x250 {width: 100%;}
main .s300x250 > img{width: 100%;}
main .nav-tabs{margin-bottom: 1em;}
main .nav-link.active{font-size: 94%;margin-top: 3px;}
main .list-group-item{padding: 8px 13px;font-size: 92%;}
main .nav-tabs.top{margin-top: 1em;}
main .list-group.top{margin-top: 1em;}
main.content{margin-top: 1em;}
main .s300x250.top{margin-top: 1em;}
main .card-block .card-text.title{text-align: center;color: rgba(0, 0, 0, 0.75);font-size: 90%;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}

/* single */
main .d-flex.align-self-center.mr-3{height: 190px;width: 140px;}
main .mb-0{font-size: 79%;}
main .float-left.single-text{margin-bottom: 0;font-size: 80%;}
main .float-right.single-text{margin-bottom: 0;font-size: 80%;}
main .video-embed{height: 360px;margin-top: 1em;}
main .form-control{font-size: 15px;}
main #exampleTextarea{font-size: 15px;}
main .btn.btn-primary.float-right{font-size: 15px;}
main #dropdownMenu2{font-size: 15px;}
main .dropdown-item{font-size: 15px;}
main .dropdown-item:hover{text-decoration: inherit;}
main .btnw.btn-secondary.film-copm{border-radius: 0;border-top-right-radius: .25rem;border-bottom-right-radius: .25em;display: inline-block;font-weight: 400;line-height: 1.25;text-align: center;white-space: nowrap;vertical-align: middle;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;border: 1px solid rgba(0,0,0,.15);padding: .5rem 1rem;font-size: 1rem;}
main .d-flex.mr-3.comment-img{height: 60px;width: 60px;}
main .mt-0.comment-name{font-size: 14px;font-weight: 600;margin-bottom: 4px;}
main .comment-text{font-size: 12px;}
main .imdb-puan{background: #e0b000;font-size: 80%;padding: 2px 3px;color: #fff;border-radius: .25em;position: absolute;float: left;margin-left: 244px;text-shadow: 0px 1px 0 #000;margin-top: 11px;box-shadow: 1px 1px 0px #846a0b;opacity: .7;}

/* footer */
footer{margin-top: 1em;margin-bottom: 5em;}
footer .copyright{font-size: 85%;}

/* Webkit Scrollbars */
body::-webkit-scrollbar{height:8px;width:8px;}
body::-webkit-scrollbar-button{display:none;}
body::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment{display: block !important;	height:3px;	background:transparent !important;}
body::-webkit-scrollbar-track{background:transparent;-webkit-border-radius:4px;border:none;}
body::-webkit-scrollbar-track-piece{background:transparent !important;}
body::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-thumb:horizontal{width:4px !important;background: rgba(150,150,150, .85) !important;background-image:none !important;min-height: 40px;-webkit-border-image:none;-webkit-border-radius:4px;}
body::-webkit-scrollbar-track:hover{background:rgba(110, 110, 110, 0.25);}
body::-webkit-scrollbar-thumb:hover{background: rgba(150,150,150, 1) !important;}

/* responsive */
@media (max-width: 543px) {
  .col-md-4.hide{display: none;}
}
@media (min-width: 544px) and (max-width: 767px) {
  .col-md-4.hide{display: none;}
}
@media (min-width: 768px) and (max-width: 991px) {
  main .imdb-puan{margin-left: 167px;}  
}
@media (min-width: 992px) and (max-width: 1199px) { }
@media (min-width: 1200px) {
  .container{width: 960px;}
}