/*
    ZN Framwork
*/

/* Header */
#header-bottom{background-color: #2C5072;margin-top: 15px;margin-bottom: 15px;}
#header-bottom-menu{margin: 0 auto;width: 400px;height: 46px;}
nav.navbar.navbar-dark.bg-inverse.znavbar{margin-top: 25px;background-color: #2A2A2A;}
h3.znh3{text-align: center;margin-top: 30px;color: #fff;}
p.znp{text-align: center;color: #fff;}
h5.znh5{text-align: center;margin-bottom: 25px;}
p.zn{font-size: 12px;}
p.zn-f{font-size: 12px;color:#fff;}
p.zn2{text-align: center;margin-top: 33px;font-size: 11px;}
p.zn3{text-align: center;font-size: 11px;}
p.zn3-f{text-align: center;font-size: 11px;color:#fff;}
h3.znh3 span{color: #0275d8;font-weight: bold;}
h3.znh3 span.n{color: #76C0FF;font-weight: bold;}

p.zn2-f{text-align:center;margin-top: 0px;font-size: 11px;color: #fff;}
strong.zn-fs{color: #fff;}
.col-sm-3.zn{border-right: solid 1px rgba(255, 255, 255, .3);}
.row.zn{border-bottom: solid 1px rgba(255, 255, 255, .3);padding-bottom: 15px;margin-top: 20px;}
img.media-object.zn-f{margin-bottom: 10px;}
.want-more{}
.want-more p a{color: #fff;text-decoration: inherit;transition-duration: .2s;transition-timing-function: ease-in-out;-webkit-transition-timing-function: ease-in-out;}
.want-more p a:hover{color: #000;text-decoration: inherit;transition-duration: .2s;transition-timing-function: ease-in-out;-webkit-transition-timing-function: ease-in-out;}

form.form-inline.pull-xs-right{float: right !important;}
a.nav-link.hp{color: #FFF;padding: 6px 6px;}
a.nav-link.hp:hover{color: #DADADA;background-color: rgba(255, 255, 255, 0.28);padding: 6px 6px;border-radius: 3px;}
.nav-hp{margin-bottom: 43px;}
button.btn.btn-primary-outline.zn{margin-bottom: 25px;}
p.znf-l{text-align: center;color: #fff;font-family: zn;font-size: 29px;margin-bottom: 0;margin-top: 0;}
@font-face{font-family: zn;src: url(../fonts/zn.woff);}


/* Footer */
#footer-top{background-color: #2C5072;}
#footer{width:100%;height: 70px;line-height: 70px;background-color: #2A2A2A;}
.row.zn-f-tp{margin-top: 25px;}
p.f-p-zn{margin-top:0;margin-bottom: 0;color: #ccc;height: 0;line-height:51px;font-family: zn;font-size: 24px;font-weight: 400;cursor:pointer;transition-duration: .2s;transition-timing-function: ease-in-out;-webkit-transition-timing-function: ease-in-out;}
p.f-p-zn:hover{color:#fff;transition-duration: .2s;transition-timing-function: ease-in-out;-webkit-transition-timing-function: ease-in-out;}
p.f-p-znc{margin-top:0;margin-bottom: 0;float: left;color: #666;height: 2px;line-height: 99px;font-size: 11px;font-weight: 400;}
img.media-object.fr{display: inline-flex;float: right;}
.footer-b-right{margin-top: 16px;}
img.media-object.fr.facebook{height: 40px;width: 40px;opacity: .4;}
img.media-object.fr.github{height: 40px;width: 40px;opacity: .4;}
img.media-object.fr.email{height: 40px;width: 40px;opacity: .4;}


/* Webkit Scrollbars */
::-webkit-scrollbar{height:8px;width:8px;}
::-webkit-scrollbar-button{display:none;}
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment{display: block !important;	height:3px;	background:transparent !important;}
::-webkit-scrollbar-track{background:transparent;-webkit-border-radius:4px;border:none;}
::-webkit-scrollbar-track-piece{background:transparent !important;}
::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-thumb:horizontal{width:4px !important;background: rgba(150,150,150, .85) !important;background-image:none !important;min-height: 40px;-webkit-border-image:none;-webkit-border-radius:4px;}
::-webkit-scrollbar-track:hover{background:rgba(110, 110, 110, 0.25);}
::-webkit-scrollbar-thumb:hover{background: rgba(150,150,150, 1) !important;}