
/* import */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700&subset=latin,latin-ext);
@import "css/grid.css";
@import "css/reset.css";
@font-face{font-family: netioo;src: url(./font/netioo.woff);}

/* site */
body{font-family:Roboto, Open Sans, sans-serif, Arial, Verdana, "Trebuchet MS";font-size:15px;background:#fff}

/* header */
#navbar{background: rgb(17, 20, 24);height: 60px;margin-top: 30px;}
#navbar .left{float: left;}
#navbar .left .logo{float: left;color: #fff;font-family: netioo;font-size: 45px;margin-top: 15px;}
#navbar .right{float: right;}

/* content */
main#home{margin-top: 33px;}
main#jumbotron{background: url('https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-379527.jpg');background-position: center center;position: relative;padding-top: 10px;padding-bottom: 10px;text-align: center;background-size: cover;}
main#home .w3{font-size: 13px;margin: 0;line-height: 0;color: #888888;text-transform: uppercase;text-align: center;border: 1px solid #e2e2e2;}
main#home .w3 span{background: #FFFFFF;padding: 0 10px;position: relative;font-weight: 700;box-sizing: border-box;}

/* projeler */
main#jumbotron .left{
    float: left;
}
main#jumbotron .left .prjlr{
    height: 150px;
    width: 270px;
    background: rgb(17, 20, 24);
}
main#jumbotron .right{
    float: right;
}


/* footer */

/* Mobile */
@media (max-width: 767px) {
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Desktop */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Desktop Large */
@media (min-width: 1200px) {
}
