
/* import */
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,300,500,700,900&subset=latin,latin-ext);
@import "css/grid.css";
@import "css/reset.css";

/* site */
body{font-family:Roboto, Open Sans, sans-serif, Arial, Verdana, "Trebuchet MS";font-size:15px;background:#fff}

/* header */
header{}
header .navbar{height: 80px;background: #fff;}
header .navbar .logo{float: left;}
header .navbar .logo a{line-height: 80px;font-size: 38px;color: #c4265b;font-weight: 600;}
header .menu{background-color: #212427;background-image: -webkit-linear-gradient(top,#292c2f 0,#191c1f 100%);background-image: -o-linear-gradient(top,#292c2f 0,#191c1f 100%);background: linear-gradient(to bottom,#292c2f 0,#191c1f 100%);height: 50px;border-top: 2px solid #C4265B;}
header .menu nav{}
header .menu nav ul{display: inline-flex;}
header .menu nav ul li{padding: 0 18px;cursor: pointer;}
header .menu nav ul li:hover{background: #C4265B;}
header .menu nav ul li.active{background: #C4265B;}
header .menu nav ul li a{line-height: 48px;color: #fff;}

/* content */
main.home{margin-top: 15px;}
main.home .s-menu{background: #252431;height: 40px;width: 100%;padding: 8px 2%;border-radius: 2px;box-shadow: 0 2px 5px -1px rgba(0,0,0,0.15);}
main.home .s-menu .material-icons.view_list{color: #fff;float: left;}
main.home .s-menu p{float: left;color: #fff;line-height: 25px;font-size: 14px;margin-left: 5px;}

main.home #post-list{float: left;width: 100%;margin-top: 5px;}
main.home .post{width: 100%;height: 80px;box-shadow: 0 2px 5px -1px rgba(0,0,0,0.15);margin-bottom: 5px;/* border-bottom: 1px dashed #ddd; */}
main.home .post .left{float: left;width: 30%;}
main.home .post .left .post-img{background: url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-269718.jpg); height: 80px;width: 100%;background-size: cover;border-top-left-radius: 2px;border-bottom-left-radius: 2px;}
main.home .right{float: right;width: 68%;}
main.home .right .post-n{margin-top: 10px;}
main.home .right .post-n a{font-size: 15px;font-weight: bold;line-height: 22px;margin-top: 19px;color: #404040;}
main.home .post-d{font-size: 14px;font-weight: normal;color: #999;}

/* slide */
section{border-bottom: 1px dashed #ddd;border-top: 1px dashed #ddd;margin-top: 15px;}
section .imgs{float: left;margin-top: 10px;width: 100%;}
section .imgs .image{float: left;width: 135px;margin: 1%;}
section .imgs .image:hover{opacity: 0.8;}
section .imgs .image a{}
section .imgs .image .imc{height: 170px;width: 100%;}
section .imgs .image h2{color: #fff;background: #212429;border-left: 2px solid #c4265b;border-right: 2px solid #c4265b;padding: 7px 8px;font-size: 14px;text-align: center;font-weight: bold;}
section .imgs .image h3{color: #000;padding: 7px 8px;font-size: 14px;text-align: center;font-weight: bold;box-shadow: 0 2px 5px -1px rgba(0,0,0,0.15);}

/* sidebar */
main.home .ss-menu{background: #252431;height: 40px;width: 100%;padding: 8px 6%;border-radius: 2px;box-shadow: 0 2px 5px -1px rgba(0,0,0,0.15);}
main.home .ss-menu p{float: left;color: #fff;line-height: 25px;font-size: 14px;margin-left: 5px;}
main.home .ss-menu .material-icons.pageview{color: #fff;float: left;}
main.home .ss-menu.search{margin-bottom: 15px;background: #fff;padding: 3px 7%;border: 1px dashed #ddd;box-shadow: 0 0 0;}
main.home .ss-menu.search .material-icons.search{float: left;color: #a0a0a0;}
main.home .ss-menu.search #searchform{font-size: 14px;}
main.home .ss-menu.search #s{color: #525252;width: 88%;float: left;margin-top: 10px;}
main.home .material-icons.search2{margin-top: 5px;float: right;color: #888;}

aside .sldr-menu{margin-top: 5px;}
aside .sldr-menu .material-icons.speaker_notes{float: left;font-size: 18px;color: #383838;margin-right: 2px;}
aside .sldr-menu ul{display: inline-block;width: 100%;}
aside .sldr-menu ul li{border-bottom: 1px dashed #ddd;padding: 6px 5px;text-align: left;}
aside .sldr-menu ul li a{color: #000;font-size: 14px;}
aside .sldr-menu ul li a:hover{}


/* footer */
footer{height: 49px;border-top: 1px dashed #ddd;margin-top: 15px;}
footer .footer{}


/* Mobile */
@media (max-width: 767px) {
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Desktop */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Desktop Large */
@media (min-width: 1200px) {
}