/*  Sosyal Ag */
@charset "UTF-8";

article, aside, footer, header, main, nav , section {  display: block;}
html, body, h1, h2, h3, ul, li, a, p, article, aside, footer, header, main, nav , section, menu {  padding: 0;  margin: 0;}

body{background:#EEEEEE;font-family: "Lucida Grande",Arial,sans-serif; color:#666; font-size:12px;margin: 0 auto;}

/* Anasayfa */
#anasayfa{position: absolute;    top: 0;    left: 0;    right: 0;    bottom: 0;    overflow: hidden;}
#a_pay{    float: left;    width: 518px;     height: 115px;}
.a_pay_alt_profil{border: 1px solid;background: linear-gradient(#FDFDFD, #eee);border-color: #FFFFFF #dfe0e4 #d0d1d5;height: 40px; margin-top: -3px;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px; padding:0px 10px; margin-bottom:20px;}
#a_sag_paylasimlar{}
.a_g_paylasimlar1{position: relative;    height: 300px;    width: 516px;    float: left;        }

/* Anasayfa Sol  */
#a_sol{position: absolute;    top: 0;    left: 0;    bottom: 0;    width: 220px;    -webkit-font-smoothing: antialiased;    background: #23232C;    background: -webkit-gradient(linear, 0 0, 100% 0, from(#23232C), to(#23232C));	background: -moz-linear-gradient(0% 0% 270deg, #515658, #525659);	border-right: none;    overflow:hidden;	z-index:32;}
#a_sol_menu{}
#a_sol_menu .a_sol_menu_n{}
#a_sol_menu .a_sol_menu_n ul{    list-style-type: none;}
#a_sol_menu .a_sol_menu_n ul li{    text-align: left;   padding: 11px 0px; }
#a_sol_menu .a_sol_menu_n ul li:hover{background:#1C1C25;}
#a_sol_menu .a_sol_menu_n ul li:active{background:#1C1C25; border-left: 2px solid #1990db; color:#fff;}
#a_sol_menu .a_sol_menu_n ul li a{ text-decoration: blink;    color: #C2C2CA;    padding: 4px 6px;    font-size: 13px;    letter-spacing: 0.03em; font-family: "Open Sans", Arial, sans-serif;    margin: 0px 5px;}
#a_sol_menu .a_sol_menu_n ul li a:hover{ color:#fff;}
#a_sol_menu .a_sol_menu_n ul li a:active{ }
li.active{background:#1C1C25; border-left: 2px solid #1990db; color:#fff;}

/* Anasayfa Sag  */
#a_sag{ position: absolute;    top:0;    left: 220px;    bottom: 0;    right: 0;    background-color: #FFFFFF;    overflow-y: auto;    overflow-x: hidden;    background: rgba(255, 255, 255, 0.44);    border-right: 2px solid transparent;    height:auto;}
.a_sag_icerik{width: 780px;    margin: 0 auto 20px;    height: 0;top: 40px;position:relative;        border-radius: 2px;    z-index: 13;}


/* Textarea Tag*/
textarea.animated {	resize:none ; -webkit-transition: height 0.2s;		-moz-transition: height 0.2s;		transition: height 0.2s; 	background-color: #FFF;	width: 100%;	padding: 14px 14px 0 14px;	outline: 0;	font-size: 14px;	color: #9197a3;	-webkit-box-sizing: border-box;	font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;	border: 1px solid;	border-color: #e5e6e9 #dfe0e4 #d0d1d5; border-top-left-radius:3px; border-top-right-radius:3px;}

/* img Tag */
img.i1{ padding: 12px 5px;}
img.i2{ padding: 10px 5px;}
img.i3{ padding: 10px 5px;}
img.i4{ padding: 10px 5px;}
img.i5{ padding: 10px 5px;}
img.i6{ width: 50px;    height: 50px;    border-radius: 2px;    -webkit-border-radius: 2px;    border: 1px solid #B2B2B5;}
img.i7{ position: absolute;    width: 457px;    height: 275px;    border: 1px solid #B2B2B5;    border-radius: 3px;    float: left;    margin-left: 7px;}
img.i8{  height: 157px;    width: 247px;    float: left;    border-radius: 3px;    border-bottom: 1px solid #ccc;    background-size: cover;    background-position: 50% 50%;    margin-right: 13px;	  position: relative;  margin-bottom: 13px;}
img.i8:hover{background:#FFF;}
img.m_aktivite{ float: left;    margin-left: 20px;    margin-top: -1px;}
img.m_arkadas{ float: left;    margin-left: 19px;    margin-top: 0px;}
img.m_mesaj{ float: left;    margin-left: 20px;    margin-top: -1px;}
img.m_bildirim{ float: left;    margin-left: 20px;    margin-top: -1px;}
img.m_topluluk{ float: left;    margin-left: 20px;    margin-top: -1px;}
img.arama{    float: right;    margin-top: 12px;    margin-right: 15px;    position: relative;    z-index: 116;}




/* input  */
input.paylas{    float: right;    margin-right: 6px;    border-color: #5C5C5C;    outline:0;border: 1px solid;    color: #5C5C5C;    border-radius: 3px;    padding: 3px 10px;    margin-top: 7px;    background: none;transition-duration:0.15s;}
input.paylas:hover{border-color:#5C5C5C;border:1px solid #5C5C5C;color:#FFF;background:#5C5C5C; transition-duration:0.15s;}   
input#arama {    border: 1px solid;    border-color: #e5e6e9 #dfe0e4 #d0d1d5;    padding: 9px;    padding-right: 35px;    margin-right: -29px;    outline: 0;    border-radius: 3px;    position: relative;    z-index: 99;}

/* Anasayfa Aktivite */
#a_aktive{    float: right;    height: 243px;    background: #FFF;    border-radius: 3px;    border: 1px solid;    border-color: #e5e6e9 #dfe0e4 #d0d1d5;    width: 245px;}
.a_aktive_ust{    border-bottom: 1px solid;    border-color: #e5e6e9 #dfe0e4 #d0d1d5;    padding: 12px 32px;    background: linear-gradient(#FDFDFD, #eee);    font-size: 13px;    font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;    color: #727272;    text-align: left;    border-top-left-radius: 5px;    border-top-right-radius: 5px;}


/* Profil */
.a_sag_profil_ust{    background: url('http://i.imgur.com/LnMSWPJ.jpg');    height: 200px;    background-size: cover;    border-bottom: 1px solid #ccc;    margin: 0 auto;    border-radius: 3px;    margin-top: 9px;    width: 780px;    background-position: 50% 51%;}
.a_sag_profil_ust_i{    height: 145px;    margin: 0 auto;    width: 729px;    margin-top: -145px;    border-top-left-radius: 3px;    border-top-right-radius: 3px;}
#p_avatar{    float: right;    vertical-align: middle;    white-space: normal;    height: 109px;    width: 109px;    margin: 17px 20px;    background-color: rgba(26,26,26,0.5);    text-shadow: 1px 1px 2px rgba(0,0,0,0.75),1px 1px 7px rgba(0,0,0,0.5);    border-radius: 3px;    box-shadow: 1px 1px 5px rgba(0,0,0,0.33);}
img.p_avatar{    height: 100px;    width: 100px;    border-radius: 2px;    position: absolute;    padding: 4px;}
.p_kullanici_adi{float: right;        margin-right: 121px;    margin-top: 40px;    width: 93px;display: inline-block;    vertical-align: middle;    font-size: 14px;border: 1px solid rgba(68, 68, 68, 0.25) !important;    padding: 6px !important;    border-radius: 5px;    color: #FFF;    background-color: rgba(32, 32, 32, 0.49);}
img.onay{    margin-top: 47px;    float: right;    margin-left: -145px;    position: absolute;}

/* Logo */
.logo{    padding: 20px 69px;    font-size: 19px;    color: #FFF;}


/* Topluluk */
#a_sag_topluluk{}
.a_sag_topluluk_1{}
.topluluk_olustur{float:left;}
.topluluk_arama{float:right;}
#a_sag_topluluk_ust{height:55px; width:769px;}
button.topluluk_olustur_b{    padding: 9px;    border: 1px solid #217407;    border-radius: 3px;    background: none;    font-family: "Lucida Grande",Arial,sans-serif;    color: #0A743D;   transition-duration:0.15s;   cursor:pointer;   outline:0;}
button.topluluk_olustur_b:hover{    padding: 9px;    border: 1px solid #217407;    border-radius: 3px;    background: #0A743D;    font-family: "Lucida Grande",Arial,sans-serif;    color: #FFF;    transition-duration:0.15s;	cursor:pointer;	outline:0}

/* Mesajlar */
.a_sag_mesajlar_ust{height:55px; }
.a_sag_mesajlar{}
.a_sag_mesajlar_sol{float:left;height: 414px;width: 241px; background: #FFF;border: 1px solid;border-color: #e5e6e9 #dfe0e4 #d0d1d5;border-radius: 3px;-webkit-border-radius: 3px;}
.a_sag_mesajlar_sag{float:right; height: 319px; width: 531px; background: #FFF; border: 1px solid;border-color: #e5e6e9 #dfe0e4 #d0d1d5;border-radius: 3px;-webkit-border-radius: 3px;}
.mesaj_olustur{float:left;}
.mesaj_arama{float:right;}
button.mesaj_olustur_b{    padding: 9px;    border: 1px solid #2C78B4;    border-radius: 3px;    background: none;    font-family: "Lucida Grande",Arial,sans-serif;    color:#1D3B88;   transition-duration:0.15s;   cursor:pointer;   outline:0;}
button.mesaj_olustur_b:hover{    padding: 9px;    border: 1px solid #2C78B4;    border-radius: 3px;    background: #2C78B4;    font-family: "Lucida Grande",Arial,sans-serif;    color:#FFF;   transition-duration:0.15s;   cursor:pointer;   outline:0;}
.mesaj_avatar{    padding: 9px 10px;    border-bottom: 1px solid;    border-color: #e5e6e9 #dfe0e4 #d0d1d5;}
.mesaj_avatar:hover{background: rgba(7, 56, 68, 0.09);}
img.mesaj_avatar_b{    background-size: cover;    width: 60px;    height: 60px;    border-radius: 3px;    border-bottom: 1px solid #ccc;}
#pay_mesajlar{    width: 534px;    float: right;    margin-top: 5px;}

/* P Tag*/
p.p1{position: absolute;    float: left;    font-size: 13px;    color: #FFF;    margin-top: -18px;    margin-left: 21px; text-shadow:0px 1px 1px #000;}


/* A Tag */
a.forgot_password{text-decoration: blink;    color:#FFF;    font-size: 13px;    float: left;    margin-top: -3px;    margin-left: 5px;    margin-bottom: 4px; text-shadow:0px 1px 1px #000;}
a.forgot_password:hover{color: rgba(255, 255, 255, 0.96);}


/* Webkit Scrollbars */
/* Anasayfa Sag */
#a_sag::-webkit-scrollbar{	height: 8px;	width: 8px;}
#a_sag::-webkit-scrollbar-button{	display:none;}
#a_sag::-webkit-scrollbar-button:start:decrement,#a_sag::-webkit-scrollbar-button:end:increment{    display: block !important;	height:3px;	background:transparent !important;}
#a_sag::-webkit-scrollbar-track{	background:transparent;	-webkit-border-radius:4px;	border:none;}
#a_sag::-webkit-scrollbar-track-piece{	background:transparent !important;}
#a_sag::-webkit-scrollbar-thumb:vertical, #a_sag::-webkit-scrollbar-thumb:horizontal{	width:4px !important;    background: rgba(150,150,150, .85) !important;	background-image:none !important;    min-height: 40px;	-webkit-border-image:none;	-webkit-border-radius:4px;}
#a_sag::-webkit-scrollbar-track:hover{	background:rgba(110, 110, 110, 0.25);}
#a_sag::-webkit-scrollbar-thumb:hover{	background: rgba(150,150,150, 1) !important;}

/* Placeholder */
::-webkit-input-placeholder {color:#000;}
::-moz-placeholder {color:#000;}
:-ms-input-placeholder {color:#000;} 
input:-moz-placeholder {color:#000;}

/* İnput */
input.kullanici_adi{width: 100%;padding: 10px;margin-bottom: 10px;font-size: 14px;background: #FFF; color: #000;border: 1px solid rgba(189, 199, 216, 1);outline: 0;border-radius: 3px;-moz-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);-webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
input.kullanici_adi:focus{background: rgba(255, 255, 255, 0.37);}
input.kullanici_email{width: 100%;padding: 10px;margin-bottom: 10px;font-size: 14px;background: #FFF;color: #000;border: 1px solid rgba(189, 199, 216, 1);outline: 0;border-radius: 3px;-moz-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);-webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
input.kullanici_email:focus{background: rgba(255, 255, 255, 0.37);}
input.kullanici_sifre{width: 100%;padding: 10px;margin-bottom: 10px;font-size: 14px;background: #FFF;color: #000;border: 1px solid rgba(189, 199, 216, 1);outline: 0;border-radius: 3px;-moz-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);-webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
input.kullanici_sifre:focus{background: rgba(255, 255, 255, 0.37);}
input.kullanici_sifre{width: 100%;padding: 10px;margin-bottom: 10px;font-size: 14px;background: #FFF;color: #000;border: 1px solid rgba(189, 199, 216, 1);outline: 0;border-radius: 3px;-moz-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);-webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
input.kullanici_sifre:focus{background: rgba(255, 255, 255, 0.37);}


/* İndex Login Box */
input.login_kullanici_email{width: 100%;padding: 10px;margin-bottom: 9px;font-size: 14px;background: #FFF; color: #000;border: 1px solid rgba(189, 199, 216, 1);outline: 0;border-radius: 3px;-moz-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);-webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
input.login_kullanici_email:focus{background: rgba(255, 255, 255, 0.37);}
input.login_kullanici_sifre{width: 100%;padding: 10px;margin-bottom: 10px;font-size: 14px;background: #FFF; color: #000;border: 1px solid rgba(189, 199, 216, 1);outline: 0;border-radius: 3px;-moz-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);-webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
input.login_kullanici_sifre:focus{background: rgba(255, 255, 255, 0.37);}
input.kayit_ol{width: 100%;padding: 10px;margin-bottom: 10px;font-size: 14px;background: -webkit-linear-gradient(#67ae55, #578843);background-color: #69a74e;color: #FFFAFA;text-shadow: 0px 1px 1px rgba(19, 13, 13, 1); border: 1px solid #276F08; outline: 0; border-radius: 3px; -moz-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);-webkit-box-shadow: inset 0 1px 1px #a4e388;box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box; cursor:pointer;}
input.kullanici_giris{float:right; width: 100%;padding: 10px;margin-bottom: 10px;font-size: 14px;background: -webkit-linear-gradient(top, #4163A3, #2C478A);background-color: #4163A3;color: #FFFAFA;text-shadow: 0px 1px 1px rgba(19, 13, 13, 1); border: 1px solid #1F2766; outline: 0; border-radius: 3px; -moz-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box; cursor:pointer;}
input.kullanici_giris:hover{background:-webkit-linear-gradient(top, #099ED3, #1A667C); cursor:pointer;}

/* İndex */
#index{    height: 400px;    background-size: cover;    background-position: 50% 50%; margin-bottom:20px;}
#i_ortala{margin: 0 auto;}
#giris_yap{ float: left; margin-top: 155px; width: 220px; padding:10px; background:rgba(255,255,255,0.1); border-radius:2px;}
#kayit_ol{  float: right;  margin-top: 155px;    width: 300px; padding:10px; background:rgba(255,255,255,0.1); border-radius:2px;}
#index_back_icerik{margin: 0 auto; width:561px;}
h1.site_title{color: #FFF; margin-top:60px; position:absolute; text-align:center;float: left;margin-left: 102px;font-size: 28px;text-shadow: 0px 1px 1px #0A0A0A;}
h3.site_dec{color: #FFF;position: absolute;margin-top: 105px;float: left;margin-left: -20px;font-size: 12px;text-shadow: 0px 1px 1px #000;}

