
/* import */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700&subset=latin,latin-ext);
@import "css/grid.css";
@import "css/reset.css";

/* site */
body{font-family:Roboto, Open Sans, sans-serif, Arial, Verdana, "Trebuchet MS";font-size:15px;background:#fff}

/* header */
header{}
header .navbar{background: #1a1a1a url("img/bg_footer.png") center bottom no-repeat;height: 50px;box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.1);margin-top: 30px;}
header .navbar .left{float: left;}
header .navbar .left .logo{float: left;line-height: 49px;}
header .navbar .left .logo a{color: #fff;font-size: 18px;}
header .navbar .left .logo a span{font-size: 11px;color: #c7c7c7;line-height: 37px;position: absolute;margin-left: 2px;}
header .navbar .right{float: right;}

/* home */
main.home{background: url('https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-288991.jpg') no-repeat;height: 350px;background-size: cover;background-position: 10% 55%;}
main.home .description{text-align: center;text-shadow: 0 0 2px rgba(0,0,0,0.2);color: #fff;font-size: 20px;margin-top: 113px;}
main.home .login-form{text-align:center;margin-top: 77px;}
main.home .login-form form{}
main.home .login-form form p{color: #fff;margin-top: 5px;}
main.home .login-form form .register{color: #fff;text-decoration: underline;text-shadow: 0 0 2px rgba(0,0,0,0.2);}
main.home .login-form form .register:hover{color: #c1c1c1;}
main.home .login-form form .input_form{width: 350px;padding: 20px 0px;background: transparent;border: 0;border-bottom: 1px solid rgba(255, 255, 255, 0.32);outline: none;color: #fff;font-size: 16px;}
main.home .login-form form .loginb{padding: 7px 21px;background: transparent;border: 1px solid rgba(255, 255, 255, 0.32);color: #fff;border-radius: 5px;}
main.home .login-form form .loginb:hover{background:#fff;color: #000;cursor: pointer;}
input[type="text"]::-webkit-input-placeholder{text-shadow: 0 0 2px rgba(0,0,0,0.2);color: #fff;}
input[type="password"]::-webkit-input-placeholder{text-shadow: 0 0 2px rgba(0,0,0,0.2);color: #fff;}

/* footer */
footer{ margin-top: 15px;margin-bottom: 25px;}
footer .col-md-12{border-top: 1px solid #dedede;}
footer .copyright{float: left;font-size: 13px;margin-top: 8px;}
footer nav{float: right;margin-top: 8px;}
footer nav ul{display: inline-flex;}
footer nav ul li{margin-left: 8px;border-right: 1px solid #ccc;padding-right: 6px;}
footer nav ul li.end{border-right: none;}
footer nav ul li a{font-size: 13px;color: #000;}
footer nav ul li a:hover{color: #4a4949;}




/* Mobile */
@media (max-width: 767px) {    
main.home .description{display:none}
footer{display:none}
main.home .login-form form .input_form{width: 100%;}
header .navbar{margin-top:0}
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {   
main.home .description{margin-top: 18px;}
main.home .login-form{margin-top: 45px;}
}

/* Desktop */
@media (min-width: 992px) and (max-width: 1199px) {    
}

/* Desktop Large */
@media (min-width: 1200px) {
}
