
/* import */
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,300,500,700,900&subset=latin,latin-ext);
@import "css/grid.css";
@import "css/reset.css";

/* site */
body{font-family:Roboto, Open Sans, sans-serif, Arial, Verdana, "Trebuchet MS";font-size:15px;background:#fff}

/* header */
header{    margin-top: 25px;}
header .navbar{    background: #2856b6;    height: 50px;    padding: 0 30px;    width: 100%;}
header .navbar .logo{
    float: left;
    height: 50px;
    margin-right: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    padding: 0 15px;
}
header .navbar .search{
    height: 50px;
    float: left;
}
header .navbar .search form{}
header .navbar .search form input#s{
    float: left;
    -webkit-transition: background 200ms ease;
    transition: background 200ms ease;
    border: none;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    font-weight: 300;
    outline: none;
    width: 350px;
    padding: 0 15px;
    margin-top: 5px;
    background-color: #4a73c9;
    font-size: 16px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #2856b6;
    color: #f5f5f5;
    font-weight: normal;
}
header .navbar .col-md-12{height: 50px}

main.home{    margin-top: 15px;}
main.home .col-md-12{}
main.home #wrapper{    background: -webkit-linear-gradient(rgba(76,87,101,0.8), rgba(76,87,101,0.8)),url(http://www.materialup.com/assets/homepage/background-2ad4ea8bad3a4325d98911553d184f78464d83bb8d7d088c96faeb43970c1771.png) no-repeat 0 0;background-size: 100%;    border-radius: 4px;    padding: 60px;}
main.home #post{}

.tab{height: 40px;background:#fff;border-bottom: 1px solid #e2e2e2;}
input[type="search"]::-webkit-input-placeholder{text-shadow: 0 0 2px rgba(0,0,0,0.2);color: #fff;}

/* content */

/* footer */

/* Mobile */
@media (max-width: 767px) {
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Desktop */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Desktop Large */
@media (min-width: 1200px) {
}
