﻿/*  İndex */
@charset "UTF-8";

article, aside, footer, header, main, nav , section {  display: block;}
html, body, h1, h2, h3, ul, li, a, p, article, aside, footer, header, main, nav , section, menu {  padding: 0;  margin: 0;}

body{background: url(../img/arkaplan.png) no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;font-family: "Lucida Grande",Arial,sans-serif; margin: 0 auto;}
#anasayfa{}
header{    margin-top: 50px;}
#header{    margin: 0 auto;    width: 892px;    text-align: right;}
h1.hh1{    color: #0D202F;                
    font-size: 26px;    font-family: Polya;       font-weight: 300;    text-shadow: 0px 0px #2A2424;}
h2.hh2{    color: #0D202F;      margin-top:15px;           font-size: 35px;    font-family: Polya;    font-weight: 300;    text-shadow: 0px 0px #2A2424;}

@font-face {font-family: 'Polya';   src:url(../font/polya.otf);}

footer{}
#mp3{    float: left;    margin-left: -40px;}
#footer_alt{margin:0 auto; width: 166px;}
#sosyal{    width: 214px;    margin: 0 auto;     position:absolute; bottom:30px;}
p.takip{  margin: 0 auto;     padding: 0px 48px;    position:absolute;    text-shadow: 0px 2px 3px #000;    font-size: 19px;    font-family: Polya;  bottom: 128px; color: #FFF;}
img.youtube{height: 50px;    width: 50px;    border-radius: 3px;}
img.facebook{height: 50px;    width: 50px;    border-radius: 3px;}
img.twitter{height: 50px;    width: 50px;    border-radius: 3px;}
img.instagram{height: 50px;    width: 50px;    border-radius: 3px;}
.clear{clear:both;}
