/* Meomni Beta */

@charset "UTF-8";

article, aside, footer, header, main, nav , section {  display: block;}
html, body, h1, h2, h3, ul, li, a, p, article, aside, footer, header, main, nav , section, menu {  padding: 0;  margin: 0;}

body{margin:0 auto; font-family:"proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;}

/* Header */
header{}

/* Anasayfa */
#index{}
.clear{clear:both;}

/* Sol Bar */
#sol_bar{position: absolute;top:0;left:0;bottom:0;width: 40px;-webkit-font-smoothing: antialiased;background:#DDDDDD;background: -webkit-linear-gradient(top, rgba(213, 211, 214, 0.76), rgba(212, 210, 213, 0.75), rgba(212, 210, 213, 0.79));overflow:hidden;z-index:32;}
img.logo{padding: 3px;background: #116EB1;}
img.anasayfa{padding: 7px;margin-top:-3px;}
img.anasayfa:hover{background:#E4E4E4;}
img.anasayfa.active{background:#E4E4E4;}
img.icerik{padding: 7px;}
img.icerik:hover{background:#E4E4E4;padding: 7px;}
img.mesaj{padding: 7px;}
img.mesaj:hover{background:#E4E4E4;padding: 7px;}
img.uygulamalar{padding: 7px;}
img.uygulamalar:hover{background:#E4E4E4;padding: 7px;}


/* Sag Kisim */
#sag{position: absolute;top:0;left:40px;bottom: 0;right: 0;background-color: #FFFFFF;overflow-y: auto;overflow-x: hidden;background: #FFF;height:auto;}
.sag_icerik{margin:0 auto; width:850px;margin-top:25px;}
img.avatar{width: 224px;border-radius: 3px;}

.sag_icerik_s1{float:left;}
.sag_icerik_s2{float:right;width:600px;}

.s_i_s1_resim{float:left;color: rgba(117, 125, 140, 0.71);font-size: 18px;margin-bottom:4px;margin-top:6px;-webkit-font-smoothing: antialiased;font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;}
.s_i_s1_aktivite{float:left;color: rgba(117, 125, 140, 0.71);font-size: 18px;-webkit-font-smoothing: antialiased;font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;}
img.resimler{width: 108px;height: 80px;border-radius: 3px;margin-bottom: 4px;margin-right: 4px;}

.s_i_s1_resim_cover{width: 230px;margin-top:40px;}

.s_i_s1_resim_icon{float:right;margin-top:11px;}
.s_i_s1_aktivite_icon{float:right;margin-top:4px;}

p.kullanici_adi{float: left;color: rgba(161, 161, 161, 0.96);margin-right:198px;font-size: 17px;-webkit-font-smoothing: antialiased;font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;}
p.kullanici_durum{float: left;color: rgba(53, 54, 58, 0.82);font-size: 13px;-webkit-font-smoothing: antialiased;font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;border-bottom: 1px solid rgba(204, 204, 204, 0.38);padding: 10px 0px;}
p.arkadaslar{float:left;margin-right: 12px;padding: 0px 8px;margin-top: 10px;color: rgba(53, 54, 58, 0.82);font-size: 13px;border-right: 1px solid #ccc;-webkit-font-smoothing: antialiased;font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;}
p.takipciler{float:left;color: rgba(53, 54, 58, 0.82);font-size: 13px;-webkit-font-smoothing: antialiased;font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;padding: 10px 0px;}


textarea.paylasim{width: 488px;height: 18px;resize: none;border-radius: 3px;padding: 9px 11px;border: 1px solid; border-color: #D6D6D6;color: rgba(0, 0, 0, 0.65);outline:0;font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;}

/* Footer */
footer{}






















