	
	<?php include "assets/header.php" ?>
	
	<!-- -->		
	<main>
		<div class="container">		
			
			<!-- -->			
			<div class="col-md-12">
				<div class="row">
					
					<table class="table"> 					
					
						<thead> 
							<tr> 								
								<th>İd</th> 
								<th>Film Adı</th> 
								<th>Düzenle</th> 
								<th>sil</th> 
							</tr> 
						</thead> 
						
						<tbody>						
							<tr> 
								<th scope="row">1</th> 
								<td>Front-End Web Developer</td> 
								<td><button type="submit" class="btn btn-default">Düzenle</button></td> 
								<td><button type="button" class="btn btn-danger">Sil</button></td> 
							</tr>
							
							<tr> 
								<th scope="row">2</th> 
								<td>Software Developer</td> 
								<td><button type="submit" class="btn btn-default">Düzenle</button></td> 
								<td><button type="button" class="btn btn-danger">Sil</button></td> 
							</tr> 
							
							<tr> 							
								<th scope="row">3</th> 
								<td>Quality Assurance Tester</td> 
								<td><button type="submit" class="btn btn-default">Düzenle</button></td> 
								<td><button type="button" class="btn btn-danger">Sil</button></td> 
							</tr> 							
						</tbody> 
						
					</table>
					
				</div>
			</div>
			<!-- -->				
			
		</div>
	</main>
	<!-- -->
	
	<?php include "assets/footer.php" ?>
	