/* 
8Medya 
v.0.2
www.8medya.net
 */ 

@charset "UTF-8";

article, aside, footer, header, main, nav , section {  display: block;}
html, body, h1, h2, h3, ul, li, a, p, article, aside, footer, header, main, nav , section, menu {  padding: 0;  margin: 0;}
body{font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif; margin: 0 auto;} 

/* Header */
header{height:77px; border-bottom:1px solid #DFDFDF;}
#h_icerik{margin:0 auto; width:960px;}
.h_icerik_sol{float:left;}
.h_icerik_sag{float:right;}
.h_icerik_sag .menu{}
.h_icerik_sag .menu ul{display: inline-flex;}
.h_icerik_sag .menu ul li{list-style-type:none;padding: 30px 2px;font-size: 14px;font-weight: 700;}
.h_icerik_sag .menu ul li a{text-decoration:initial;color: #454545;padding: 29px 12px;}
.h_icerik_sag .menu ul li a:hover{border-bottom:2px solid #2A82B0;padding: 29px 12px;}
a.act{border-bottom:2px solid #2A82B0;padding: 29px 12px;}

/* Logo */
#logo{float: left;margin-top:12px;}
img.logo{width: 162px;height: 53px;}

/* Anasayfa */
#anasayfa{margin:0 auto; width:960px;}

/* Font */
@font-face {font-family: 'CenturyGothic';   src:url(../font/century-gothic.otf);}

/* Slider */
#ans_slider{margin-top: 15px;}
.bx-wrapper {	position: relative;	margin: 0 auto 60px;	padding: 0;	*zoom: 1;}
.bx-wrapper img {	max-width: 100%;	display: block;}
.bx-wrapper .bx-viewport {	-moz-box-shadow: 0 0 5px #ccc;	-webkit-box-shadow: 0 0 5px #ccc;	box-shadow: 0 0 5px #ccc;	border:  5px solid #fff;	left: -5px;	background: #fff;		-webkit-transform: translatez(0);	-moz-transform: translatez(0);    	-ms-transform: translatez(0);    	-o-transform: translatez(0);    	transform: translatez(0);}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {	position: absolute;	bottom: -30px;	width: 100%;}.bx-wrapper .bx-loading {	min-height: 50px;	background: url(../img/slider/bx_loader.gif) center center no-repeat #fff;	height: 100%;	width: 100%;	position: absolute;	top: 0;	left: 0;	z-index: 2000;}
.bx-wrapper .bx-pager {	text-align: center;	font-size: .85em;	font-family: Arial;	font-weight: bold;	color: #666;	padding-top: 20px;}
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {	display: inline-block;	*zoom: 1;	*display: inline;}
.bx-wrapper .bx-pager.bx-default-pager a {	background: rgba(102, 102, 102, 0.38);	text-indent: -9999px;	display: block;	width: 10px;	height: 10px;	margin: 0 5px;	outline: 0;	-moz-border-radius: 5px;	-webkit-border-radius: 5px;	border-radius: 5px;}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {	background: rgba(0, 0, 0, 0.58);}
.bx-wrapper .bx-prev {	left: 10px;	background: url(../img/slider/controls.png) no-repeat 0 -32px;}
.bx-wrapper .bx-next {	right: 10px;	background: url(../img/slider/controls.png) no-repeat -43px -32px;}
.bx-wrapper .bx-prev:hover {	background-position: 0 0;}
.bx-wrapper .bx-next:hover {	background-position: -43px 0;}
.bx-wrapper .bx-controls-direction a {	position: absolute;	top: 50%;	margin-top: -16px;	outline: 0;	width: 32px;	height: 32px;	text-indent: -9999px;	z-index: 9999;}
.bx-wrapper .bx-controls-direction a.disabled {	display: none;}
.bx-wrapper .bx-controls-auto {	text-align: center;}
.bx-wrapper .bx-controls-auto .bx-start {	display: block;	text-indent: -9999px;	width: 10px;	height: 11px;	outline: 0;	background: url(../img/slider/controls.png) -86px -11px no-repeat;	margin: 0 3px;}
.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {	background-position: -86px 0;}
.bx-wrapper .bx-controls-auto .bx-stop {	display: block;	text-indent: -9999px;	width: 9px;	height: 11px;	outline: 0;	background: url(../img/slider/controls.png) -86px -44px no-repeat;	margin: 0 3px;}
.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {	background-position: -86px -33px;}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {	text-align: left;	width: 80%;}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {	right: 0;	width: 35px;}
.bx-wrapper .bx-caption {	position: absolute;	bottom: 0;	left: 0;	background: #666\9;	background: rgba(80, 80, 80, 0.75);	width: 100%;}
.bx-wrapper .bx-caption span {	color: #fff;	font-family: Arial;	display: block;	font-size: .85em;	padding: 10px;}

/* Hakkimzida */
#hakkimizda{    height: 140px;}
.hakkimizda_sol{float:left;height: 136px;width: 480px;}
.hakkimizda_sag{float:right;height: 89px;width: 425px;}
p.t_c_k{    float: left;  margin-top: 5px; color: #767676;    font-size: 16px;    font-weight: 700;}
p.t_c_k_icerik{    float: left;    margin-left: 61px;    font-size: 14px;}
img.t_c_k{    float: left;    margin-left: 30px;    margin-right: 8px;}
p.g_t{    float: left;  margin-top: 5px; color: #767676;    font-size: 16px;    font-weight: 700;}
p.g_t_icerik{    float: left;    margin-left: 30px;    font-size: 14px;}
img.g_t{    float: left;    margin-left: 0px;    margin-right: 8px;}

/* Projelerimiz */
#projelerimiz{    height: 255px;  }
h2.projelerimiz{ float: left;  color: #616161;  font-size: 19px; font-weight: 700; width: 525px; height: 33px;}
#projelerimiz_sol{       width: 660px;       float: left;}
#projelerimiz_sag{}

/* Footer */
footer{}
#footer{}
#f_ust{background-color: #383838;  height: 175px;}
#f_icerik_ust{margin:0 auto; width:960px; height: 175px;}
.f_icerik_ust_sol{}
.f_icerik_ust_sag{}
#f_alt{background-color: #2C2C2C;  height: 57px;}
#f_icerik_alt{margin:0 auto; width:960px; }
.f_icerik_alt_sol{}
.f_icerik_alt_sag{}
p.cop{    float: left;    color: #737373;    font-size: 13px;    margin-top: 22px;    margin-left: 30px;}
h3.hkmzda{    float: left;    color: #BABABA;      font-size: 18px;     height: 23px;    width: 0px;    font-weight: 700;    margin-top: 45px;    margin-left: 30px;}
p.f_hakkimizda{    float: left;    color: #fff;    font-size: 13px;    height: 18px;    width: 488px;    margin-top: 82px;}
h3.lnklr{ float: left; color: #BABABA;      font-size: 18px; font-weight: 700;    margin-top: 45px;   }



#f_menu{}
#f_menu .f_menu_n{    float: left;    margin-top: 75px;    margin-left: -60px;}
#f_menu .f_menu_n ul{display: block;}
#f_menu .f_menu_n ul li{list-style-type:none;font-size: 13px;margin-bottom: 5px;}
#f_menu .f_menu_n ul li a{text-decoration:initial;color: #FFF;}
#f_menu .f_menu_n ul li a:hover{color:#CACACA;}






/* Diger */
.temizler{clear:both;}
