/*
 *
 @theme: swiftsbot
 @theme-author: www.facebook.com/cagatayldzz
 *
*/

.bw.content{margin-top: 70px;}
.docs-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: none;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
  background-color: #1a1c22;
}
.docs-top:hover,
.docs-top:focus {
  text-decoration: none;
}
@media (min-width: 768px) {
  .docs-top {
    display: block;
  }
}
.docs-top a {
  color: #9198aa;
}
.docs-top:hover{
  color: #fff;
}
.docs-top a:hover {
  color: #fff;
}
p.sft{
    text-align: center;
    margin: 0;
}

.eg table tbody td .sub3{
    background: url('../images/sub3.png');
    height: 18px;
    width: 18px;
    padding-right: 20px;
}
.eg table tbody td .sub{
    background: url('../images/sub.png');
    height: 18px;
    width: 18px;
    padding-right: 20px;
}
.eg table tbody td .sbbb{
    background: url('../images/sb.png');
    height: 26px;
    width: 30px;
    padding-right: 25px;
}
