/*  
Facebook Html/Css  - Beta[CSS]
Code: www.wmevi.com
*/


/* Sifremi Unuttum */
#a_s_u_bx{margin: 0 auto;width: 555px;margin-top: 70px;margin-bottom:70px;}
.a_s_u_bx_icerik{border: 1px solid #ccc;height: 175px;border-radius: 3px;background-color: #fff;}
h3.a_s_u_h3_baslik{color: #1e2d4c;font-size: 16px;line-height: 20px;font-weight: bold;margin-top: 18px;margin-left: 20px;border-bottom: 1px solid #ccc;padding: 0 10px 6px;margin-right: 20px;}
p.a_s_u_p_yazi{margin: 0 auto;width: 283px;text-align: center;font-size: 12px;margin-bottom: 5px;}
.a_s_u_p_y_r{margin: 0 auto;width: 340px;margin-top: 13px;}
img.a_s_u_p_resim{float: left;}
input#a_s_u_eposta{float: left;margin-top: 4px;margin-left: 6px;width: 255px;}

.a_s_u_orta{height:78px;}
.a_s_u_alt{padding:4px;border-top: 1px solid #ccc;background-color: #f2f2f2;height: 30px;}
.a_s_u_a_sol{float:left;}
p.a_s_a_s_hsp{color: #3b5998;font-size: 12px;margin-top: 9px;margin-left: 9px;cursor:pointer;}
p.a_s_a_s_hsp:hover{text-decoration:underline;}
.a_s_u_a_sag{float: right;}

input#a_s_u_a_s_ara{float: left;background-color: #5b74a8;border: 1px solid;outline:0;margin-right: 5px;padding: 4px 8px;color: #fff;font-weight: bold;border-radius: 2px;cursor: pointer;border-color: #2f477a #29447e #1a356e;font-size: 12px;margin-top: 2px;}
input#a_s_u_a_s_iptal{float: right;background-color: rgba(233, 234, 237, 0.31);border: 1px solid #999;outline:0;margin-right: 6px;padding: 4px 8px;color: #4A4A4A;font-weight: bold;border-radius: 2px;cursor: pointer;border-bottom-color: #888;font-size: 12px;margin-top: 2px;box-shadow: 0 1px 0 rgba(0, 0, 0, .1);}


/* Giris Yap */
#a_grs_yp_bx{}
.a_grs_yp_bx_icerik{}
