/*  İndex */

article, aside, footer, header, main, nav , section {  display: block;}
html, body, h1, h2, h3, ul, li, a, p, article, aside, footer, header, main, nav , section, menu {  padding: 0;  margin: 0;}

body{background: #fff; font-family: "Lucida Grande",Arial,sans-serif; margin: 0 auto;}

/* Header */
header{background:#3b5998;box-sizing:border-box;height:44px;margin:0 auto; width:100%;z-index:12;position:relative;padding:7px 0;}
#logo{background-image: url('https://lh3.googleusercontent.com/WM4GtEhlmDeb8DPEzo99GLN3SQ_BO5DuIQZTsfHxbDZ-H-KDdToi1cuiXU0thVYy7tHclseRpoy0HTud-E82TvPjKSZtLVXkBR8QgmtChNisMv4jBmrLfcyLunTAYHLWXr17oxaTUgJfRGSwrBxnCVAm5x6xb8qP2VrF5zDncnpXCc-fWBYgyyJz2RKoBBsVPw2CpdFf7scLEqxmJOW8-DYt1ok4J5pEhKVrWmb4iNjwRAuBe5FzwSVkqjjxWfTOUuM9_NSguCP25cJR7o35xyo5LUBm8kimHwOden6qg5TGK2mYdva2IZOZtPaclr7Zm4xzM-eNYUT7D8CaMyh43HBV5UBF1mH3QSbjekTaF0r29I-zV6nBM4rdPbQtT29r7zsngBF_EF1eh_owDsmcE9e2olRO652fL_0WaTrzgnAGVhREOhURBC5ZoLn9Sl7MRq9JTQWQKft7W2-rlLBaTX5U0EoF78YZScwBab54EM9gB9W9therrZaD3AJ361cSsX0HZfHcuVKrfHi7bUic7MTD9Y2bk8I0sQ34fsDL0sM=w124-h194-no');cursor:pointer;width: 123px;height:24px;background-position:0 0;margin: 0 auto;}


/* Anasayfa */
#anasayfa{margin:0 auto;}
.a_g_f{margin: 0 auto;width: 416px;background-color: #eceff5;padding: 15px 16px;}
input.a_i_s_m_eposta{border-bottom: 1px solid #e5e5e5;padding: 12px;border-radius: 4px 4px 0 0;width: 390px;border: 1px solid;outline: 0;font-size: 14px;border-color: #DFDFDF #ccc #fff #ccc;}
input.a_i_s_m_sifre{border-bottom: 1px solid #e5e5e5;padding: 12px;border-radius: 0 0 4px 4px;width: 390px;border: 1px solid;font-size: 14px;outline: 0;border-color: #DFDFDF #ccc #B6B6B6 #ccc;}
input#m_giris_yap{text-shadow: 0 -1px rgba(0, 0, 0, .25);cursor:pointer;outline:0;background-color: #627aad;background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .1));border-radius: 4px;border: 1px;border-color: rgba(0, 0, 0, .15) rgba(0, 0, 0, .15) rgba(0, 0, 0, .26);box-shadow: 0 1px 0 rgba(0, 0, 0, .14), inset 0 -1px 1px 0 rgba(0,0,0,.03);border-style: solid;width: 100%;font-size: 14px;margin-top: 10px;content: "";height: 36px;font-weight: bold;color: #fff;}
input#m_hsp_olustur{text-shadow: 0 -1px rgba(0, 0, 0, .25);cursor:pointer;outline:0;background-color: #5b93fc;background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .1));border-radius: 4px;border: 1px;border-color: rgba(0, 0, 0, .15) rgba(0, 0, 0, .15) rgba(0, 0, 0, .26);box-shadow: 0 1px 0 rgba(0, 0, 0, .14), inset 0 -1px 1px 0 rgba(0,0,0,.03);border-style: solid;font-size: 14px;margin-top: 10px;content: "";height: 36px;font-weight: bold;color: #fff;}
.m_h_olstr{margin:0 auto;width: 144px;margin-top: 25px;}
div#a_g_f_u{}

/* Responsive */
@media screen and (max-width: 447px) {
    #anasayfa{margin:0 auto; width:432px;}
    .a_g_f{width:400px;}
    div#a_g_f_u{width:321px;margin:0 auto;}
    input.a_i_s_m_eposta{width:295px;}
    input.a_i_s_m_sifre{width:295px;}
}


/* Footer */
footer{}



/* Diger */
.temizle{clear:both;}
