/*  
Facebook Html/Css
Code: www.wesyo.com
*/

article, aside, footer, header, main, nav , section {  display: block;}
html, body, h1, h2, h3, ul, li, a, p, article, aside, footer, header, main, nav , section, menu {  padding: 0;  margin: 0;}
body{background: #fff; font-family: "Lucida Grande",Arial,sans-serif; margin: 0 auto;}

/* Header */
header{background:#3A5795;height:82px;}

/* Header İcerik */
.h_icerik{margin:0 auto;width:980px;}

/* Header Sol */
.h_i_sol{float:left;}
#h_logo{float:left;margin-top: 24px;background-image: url('../img/logo.png');width:170px;height:34px;background-position:0 -481px;}


/* Header Sag */
.h_i_sag{float:right;}
.h_hesap{float:right;margin-top: 12px;height: 70px;}
.h_hesap_yazi{height: 19px;}
.h_hesap_tabl{margin-top: 1px;height: 22px;}
input#eposta{float:left;height: 22px;font-size: 12px;width: 157px;border: 1px solid;border-radius:2px;padding: 0px 5px;}
input#sifre{float: left;height: 22px;width: 157px;border: 1px solid;padding: 0px 5px;border-radius:2px;margin-left: 30px;font-size: 12px;}
input#giris_yap{float:right;background-color: #5b74a8;border: 1px solid;outline:0;height: 24px;padding: 5px;color: #fff;font-weight: bold;cursor: pointer;border-color: #2f477a #29447e #1a356e;font-size: 12px;border-radius: 2px;margin-left: 5px;margin-top: 0px;}
p.h_e_posta{float:left;font-size: 12px;color: #FFF;margin-top: 3px;}
p.h_sifre{float: left;margin-left: 84px;font-size: 12px;color: #fff;margin-top: 3px;}
p.h_oturum{float:left;font-size: 12px;color: #95A5C7;margin-top: 6px;}
p.h_s_htrlma{float:right;font-size: 12px;color: #95A5C7;margin-right: 136px;margin-top: 7px;}
input#tik{float:left;margin: 2px;margin-top: 6px;margin-right: 3px;}

/* Anasayfa */
#anasayfa{background: linear-gradient(white, #D3D8E8);height: 530px;}
p.hsp_hr_z{height: 23px;}
h3.hsp_a{color: #333;font-size: 36px;height: 52px;}

/* Anasayfa İcerik */
.a_icerik{margin:0 auto; width:980px;}

/* Anasayfa İcerik Sol */
.a_i_sol{float:left;}
.a_i_sol_i_resim{background-image: url('../img/cont.png');height: 195px;width: 537px;}
p.a_i_sol_icerik{height: 56px;width: 450px;margin-top: 40px;font-size: 20px;color: #0e385f;font-weight: bold;line-height: 29px;word-spacing: -1px;}

/* Anasayfa İcerik Sag */
.a_i_sag{float:right;margin-top: 13px;width: 425px;}
.a_i_sag_form{height: 151px;}
.a_i_sag_form_ust_sol{float:left;}
.a_i_sag_form_ust_sag{float:right;}

/* Kayit */
input.a_i_s_ad{width: 172px;font-size: 18px;padding: 8px 10px;border-color: #bdc7d8;border-radius: 5px;margin: 0;border: 1px solid #BDC7D8;outline: 0;}
input.a_i_s_soyad{width: 172px;font-size: 18px;padding: 8px 10px;border-color: #bdc7d8;border-radius: 5px;margin: 0;border: 1px solid #BDC7D8;outline: 0;margin-right: 10px;}
input.a_i_s_eposta{width: 392px;font-size: 18px;padding: 8px 10px;border-color: #bdc7d8;border-radius: 5px;margin: 0;border: 1px solid #BDC7D8;outline: 0;margin-top: 7px;}
input.a_i_s_eposta_t{width: 392px;font-size: 18px;padding: 8px 10px;border-color: #bdc7d8;border-radius: 5px;margin: 0;border: 1px solid #BDC7D8;outline: 0;margin-top: 7px;}
input.a_i_s_sifre{width: 392px;font-size: 18px;padding: 8px 10px;border-color: #bdc7d8;border-radius: 5px;margin: 0;border: 1px solid #BDC7D8;outline: 0;margin-top: 7px;}


/* Dogum ve Cinsiyet */
#dogum_ay_yil{height: 43px;}
.dogum_ay_yil_sol{float: left;}
.dogum_ay_yil_sag{}
h3.a_i_s_dogum_t{color: #141823;font-size: 18px;margin-top: 10px;margin-bottom: 5px;font-weight: normal;}
select.a_i_d_gun{font-size:12px;border: 1px solid #BDC7D8;padding: 5px 10px;background-color: #fff;border-radius: 4px;outline: 0;}
select.a_i_d_ay{font-size:12px;border: 1px solid #BDC7D8;padding: 5px 10px;background-color: #fff;border-radius: 4px;outline: 0;}
select.a_i_d_yil{font-size:12px;border: 1px solid #BDC7D8;padding: 5px 10px;background-color: #fff;border-radius: 4px;outline: 0;}
p.a_i_s_dogum_i{float: right;height: 31px;font-size: 11px;width: 194px;margin-top: 3px;color: #3b5998;}


#a_i_s_cinsiyet{height: 31px;float: left;width: 395px;}
label.s_kadin{font-size: 12px;color: #141823;font-weight: normal;line-height: 18px;padding: 0 10px 0 5px;margin-top: 4px;position: relative;float: left;}
input#s_kadin{float: left;}
label.s_erkek{font-size: 12px;color: #141823;font-weight: normal;line-height: 18px;padding: 0 10px 0 5px;margin-top: 4px;position: relative;float: left;}
input#s_erkek{float: left;}
span.a_s_kadin{height: 25px;width: 59px;cursor: pointer;}
span.a_s_erkek{height: 25px;width: 59px;cursor: pointer;}

/* Hesap/Sayfa Olustur */
.a_i_s_hesap_ac{height: 117px;}
p.a_s_h_icerik{float: left;color: #777;font-size: 11px;width: 316px;}
a.c_kl{text-decoration:inherit;color: #3b5998;cursor: pointer;}
a.c_kl:hover{text-decoration:underline;color: #3b5998;cursor: pointer;}
a.v_ilkr{text-decoration:inherit;color: #3b5998;cursor: pointer;}
a.v_ilkr:hover{text-decoration:underline;color: #3b5998;cursor: pointer;}
button.hesap_ac{margin-top: 12px;outline:0;background: -webkit-linear-gradient(#67ae55, #578843);background: linear-gradient(#67ae55, #578843);background-color: #69a74e;box-shadow: inset 0 1px 1px #a4e388;border-color: #3b6e22 #3b6e22 #2c5115;border: 1px solid #3b6e22;padding: 7px 20px;text-align: center;border-radius: 5px;min-width: 194px;font-size: 12px;color: #fff;letter-spacing: 1px;position: relative;display: inline-block;font-weight: bold;line-height: 126%;text-shadow: 0 1px 2px rgba(0,0,0,.5);}
#a_i_s_syfa_olustur{border-top: 1px solid #a0a9c0;}
p.a_i_s_s_o{margin-top: 10px;color: #666;font-size: 13px;font-weight: bold;padding: 9px 0;}
a.a_i_s_s_olstr{color: #3b5998;text-decoration: inherit;}
a.a_i_s_s_olstr:hover{text-decoration: underline;}

/* Footer */
footer{height:100px;}
#footer{}
.f_icerik{margin:0 auto; width:980px;}

/* Footer Ust */
#f_i_ust{}
#f_i_ust .f_i_u_menu{border-bottom: 1px solid #CCCCCC;margin-top: 10px;}
#f_i_ust .f_i_u_menu ul{display: inline-flex; line-height:1px;height: 21px;}
#f_i_ust .f_i_u_menu ul li{list-style-type:none;}
#f_i_ust .f_i_u_menu ul li a{color: #3b5998; font-size: 12px; text-decoration:initial;margin-right: 8px;}
#f_i_ust .f_i_u_menu ul li a:hover{text-decoration: underline;}

/* Footer Alt */
#f_i_alt{ width: 861px;height: 124px;}
#f_i_alt .f_i_a_menu{margin-top: 10px;}
#f_i_alt .f_i_a_menu ul{display: inline-flex; line-height:1px;height: 21px;}
#f_i_alt .f_i_a_menu ul li{list-style-type:none;}
#f_i_alt .f_i_a_menu ul li a{color: #3b5998; font-size: 12px; text-decoration:initial;margin-right: 29px;float: left;margin-top: 13px;}
#f_i_alt .f_i_a_menu ul li a:hover{text-decoration: underline;}
#f_i_alt .f_i_a_menu2{}
#f_i_alt .f_i_a_menu2 ul{display: inline-flex; }
#f_i_alt .f_i_a_menu2 ul li{list-style-type:none;}
#f_i_alt .f_i_a_menu2 ul li a{color: #3b5998; font-size: 12px; text-decoration:initial;margin-right: 23px;float: left;}
#f_i_alt .f_i_a_menu2 ul li a:hover{text-decoration: underline;}
#f_i_alt .f_i_a_menu3{}
#f_i_alt .f_i_a_menu3 ul{display: inline-flex; line-height:1px;height: 21px;}
#f_i_alt .f_i_a_menu3 ul li{list-style-type:none;}
#f_i_alt .f_i_a_menu3 ul li a{color: #3b5998; font-size: 12px; text-decoration:initial;margin-right: 22px;float: left;margin-top: 10px;}
#f_i_alt .f_i_a_menu3 ul li a:hover{text-decoration: underline;}

/* Footer İnfo */
#f_a_copyright{float: left;margin-top: 15px;}
p.f_a_c_i{color: #737373;font-size: 11px;}
a.f_a_copyright_l{color: #3b5998;font-size: 12px;text-decoration: inherit;}
a.f_a_copyright_l:hover{text-decoration:underline;}

/* Diger */
.temizle{clear:both;}