*{padding:0;margin:0;list-style:none;border:none;background:transparent;font-size:100%}
*:focus{outline:0}
a{text-decoration:none}
body{font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif}

/**/
body{background:#f5f5f5}
.container{background: white;width: 939px;max-width: 100%;margin-right: auto;margin-left: auto;margin-top: 30px;margin-bottom:30px;border-radius: 3px;overflow: hidden;box-shadow: 0 0 10px 1px rgba(0,0,0,0.2);-webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,0.2);-mozkit-box-shadow: 0 0 10px 1px rgba(0,0,0,0.2);}
header{background: #1a1a1a;height: 65px;border-radius: 3px 3px 0 0;}

header .logo{height: 65px;float: left;width: 118px;margin-left: 20px;}
header .logo a{}
header .logo .fa.fa-play{float: left;color: #00AAF2;padding: 0 3px;margin-top: 24px;font-size: 20px;}
header .logo p{float: left;line-height: 65px;color: #fff;font-size: 20px;padding: 0 3px;}
header .logo span{font-size: 13px;float: left;color: #c7c7c7;margin-top: 15px;margin-left: 0px;font-weight: 300;}

header .menu{float: left;margin-left: 10px;}
header .menu ul{display: flex;display: -webkit-box;}
header .menu ul li{}
header .menu ul li .fa.fa-random{color: #c7c7c7;font-size: 20px;margin-top: 24px;margin-right: 12px;}
header .menu ul li .fa.fa-random:hover{color:#00AAF2}
header .menu ul li .fa.fa-film{color: #c7c7c7;font-size: 20px;margin-top: 23px;}
header .menu ul li .fa.fa-film:hover{color:#00AAF2}

header .search{float: left;margin-top: 14px;height: 45px;margin-left: 20px;}
header .search form{position: relative;}
header .search form #s{position: absolute;width: 261px;font-size: 13px;color: #d2d2d2;background: rgba(255, 255, 255, 0.24);padding-left: 16px;line-height: 38px;padding-right: 16px;font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;border-radius: 52px;}
header .search form .fa.fa-search{color: #828282;float: right;font-size: 12px;}
header .search form .button{height: 38px;position: absolute;top: 0;right: 0;border: none;border-left: 1px solid #252222;color: #fff;font-size: 11px;border-radius: 0px 40px 40px 0px;padding: 7px 14px;cursor: pointer;background: #3c3c3c;background: linear-gradient(to bottom,#3c3c3c 0%,#2f2f2f 100%);}
input[type="text"]::-webkit-input-placeholder{color: #d2d2d2;}

section{}
section aside.top{padding: 0px 15px;}
section aside.top .last-title{font-size: 26px;font-weight: 300;margin-bottom: 15px;position: relative;margin-top: 12px;justify-content: space-around;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;}
section aside.top .last-title:before{content: '';height: 2px;background: #202328;width: 70px;position: absolute;bottom: -3px;justify-content: space-around;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;}
section aside.top  .movies-list{margin-top: 5px;-webkit-flex-flow: row wrap;justify-content: space-around;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;}
section aside.top  .movies-list .movie{float: left;width: 164px;margin-bottom: 5px;}
section aside.top  .movies-list .movie a{display: block;padding-bottom: 20px;position: relative;}
section aside.top  .movies-list .movie img{width: 100%;height: 240px;display: block;box-shadow: 0 1px 5px 1px rgba(0,0,0,0.2);border-radius: 3px;opacity: .9;}
section aside.top  .movies-list .movie img:hover{opacity: 1;}
section aside.top  .movies-list .movie .movie-title{font-size: 16px;color: #222;padding-top: 10px;letter-spacing: -1px;display: block;font-weight: 500;width: 100%;text-align: center;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display: block;}
section aside.top .movies-list .movie .tags-movie{display: block;font-size: 15px;color: #868686;font-weight: 500;text-align: center;font-size: 11px;}

aside.bottom{-webkit-flex-flow: row wrap;justify-content: space-around;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;}
aside.bottom .movie{height: 84px;margin: 0px 0px 0px 0px;background-color: #171b26;overflow: hidden;width: 313px;}
aside.bottom .movie a{}
aside.bottom .movie .movie-title{padding: 0.9375rem;text-align: center;overflow: hidden;position: absolute;line-height: 54px;letter-spacing: -1px;text-overflow: ellipsis;white-space: nowrap;display: block!important;text-transform: uppercase;font-weight: 600;text-shadow: 0 1px 2px #000;color: #ffffff;width: 24.7%;}
aside.bottom .movie img{ width: 100%;height: 100%;opacity: .2;background-repeat: no-repeat;background-position: center center;background-size: cover;}
aside.bottom .movie img:hover{-webkit-filter:blur(4px);filter:blur(4px);opacity:.15}

footer{}
footer .legal-text{line-height: 150%;font-size: 12px;color: #666;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 15px;text-align: center;}
footer .social{width: 100%;display: flex;-webkit-justify-content: center;margin-bottom: 15px;}
footer .social .fa-facebook-official{color: #3b5998;border-bottom: 1px solid transparent;font-size: 25px;}
footer .social .fa-facebook-official:hover{  border-bottom: 1px solid #29487d;}


@media (max-width: 1050px){
	.container{width:750px}
	aside.bottom .movie{width: 250px;}
	aside.bottom .movie .movie-title{width:19%}
}